@import "reset.css";
body {
	font: normal .875em/1.75 Georgia, serif;
	background-color: white;
    margin: 4%;
}
.no-js body {
	background-color: mintcream;
}

main {
	padding: 1em;
}
p, form.content li {
	text-align: left;
}
h3 {
	color: black;
}
th {
	font-weight: bold;
}
form {
	border: solid 1px #444;
}
select {
	border: solid 1px black;
}
a:link, a:active, a:visited {
	color: #5B0080;
	color: hsl(283, 100%, 25%);
}
a:hover {
	color: #8C39AC;
	color: hsl(283, 50%, 45%);
}
table {
	border: solid 1px black;
	table-layout: fixed;
}
h2 {
	background: none;
	text-shadow: none;
	color: black;
	padding: 0;
	margin: 0 0 .5em;
	line-height: 1;
	border: solid 0 #863FA2;
	border: solid 0 hsl(283, 44%, 44%);
	border-width: 0 0 6px;
	display: inline-block;
	font-size: 3em;
}
table a {
	font-weight: bold;
}
table tr th, table tr td {
	table-layout: fixed;
	border: 0 solid black;
	padding: .5em;
	line-height: normal;
}
table tr:nth-child(odd) {
	background-color: #F3F0F4;
	background-color: hsl(283, 15%, 95%);
}
table tr:first-child {
	background-color: black;
	color: #DBD3DE;
	color: hsl(283, 15%, 85%);
}
form label, .mocklabel, form.manage fieldset legend {
	font: 1em 'Arial Black', Arial, sans-serif;
	color: black;
}
form li label {
	margin: 0;
	line-height: 1;
}
textarea {
	padding: 1%;
	font: 1.1em/1.2 'Courier New', Courier, monospace;
}
form.content input, select {
	font: .8rem/1.5 Optima, Arial, sans-serif;
	border-radius: 5px;
	border: solid 1px white;
}
input[type="submit"] {
	font: bold 1em Helvetica;
	padding: .1em .9em;
}
legend {
	margin-left: .5em;
	text-transform: uppercase;
	padding: .5em;
}
.neue, .asset, .asset figure, form textarea, form.manage fieldset {
	border: solid 1px white;
	padding: .75em;
	border-radius: 5px;
}
table, form, .manage {
	width: 40%;
	min-width: 28em;
}
form {
	text-align: left;
	padding: 2%;
	background-color: #C4ACCD;
	background-color: hsl(283, 25%, 74%);
	border-radius: 8px;
}
form input {
	width: 100%;
}
form input[type="submit"] {
	width: auto;
}
form div {
	margin: 1em 0 0;
}
.buttons {
	padding: .3em;
	color: white;
	background-color: white;
	background-color: rgba(0, 0, 0, .66);
	text-align: center;
}
.buttons p {
	text-align: center;
	color: yellow;
}
form .buttons {
	background-color: transparent;
}
form.content {
	text-align: left;
	width: 96%;
}
form.manage {
	border-radius: 8px 8px 0 0;
	border-radius: 8px;
	padding: 1%;
}
form.manage fieldset {
	padding: 1em;
	border-radius: 8px 8px 0 0;
	margin: .5em 0 1em;
}

form.editor {
	text-align: left;
	padding: 1.75em;
	margin: 1em 0;
}
form.manage+form.manage {
	border-width: 0 1px 1px;
	border-radius: 0 0 8px 8px;
}
form.manage+form {
	display: none;
}
.page_select {
	text-align: left;
	border-width: 0;
}
.manage div input {
	width: 100%;
}
.manage input[type="checkbox"] {
	width: auto;
}
.content ul li {
	margin: 1em 0;
}
form.content, form.editor {
	float: none;
	background-color: #af8dbb;
	background-color: hsl(283, 25%, 74%);
	padding: 2%;
}
.manage select {
	margin: 0 .5em;
}
.content ul li>label, .content ul li>label, .content ul>li>textarea, figure {
	line-height: 1.25;
	vertical-align: middle;
	display: inline-block;
}
.content ul>li>input, .content ul>li>textarea {
	margin: 0 0 1% 1%;
	width: 83%;
}
li.mock, li.mock ul {
	width: 100%;
	margin: 0;
}
li.mock ul li {
	margin: 0;
}
.mock .mocklabel {
	margin: 0 1% 0 0;
	width: 16%;
}
.mock .neue, .mock .asset {
	width: 83%;
}
.content li.mock ul li input {
	width: auto;
	margin: 0;
}
li.mock ul>li {
	vertical-align: top;
	display: inline-block;
}
.content li.asset figure {
	vertical-align: middle;
}
.edit-content ul, .content .edit-content>textarea, .content .buttons {
	margin: 0 0 2% 17%;
	width: 83%;
}
.edit-content ul {
	margin-left: 17%;
}
.edit-content ul li {
	display: inline-block;
	width: 6%;
	min-width: 3em;
	margin: 0 .25em;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
	cursor: pointer;
}
.edit-content ul li img {
	border-radius: 5px;
}
.edit-content ul li:hover {
	background-color: #7C548C;
	background-color: hsl(283, 25%, 44%);
}
.edit-content ul li img {
	display: block;
	width: 100%;
}
.content>ul {
	width: 100%;
}
.content>ul input, .content>ul textarea {
	border: 0;
	padding: .3em;
}
.content label, .content .mocklabel {
	word-spacing: normal;
	letter-spacing: normal;
	text-align: right;
}
.content>ul>li>label, .mocklabel {
	margin: 0;
	width: 16%;
	min-width: 7em;
	border: solid 1px white;
	border-radius: 8px;
	background-color: mediumorchid;
	background-color: hsla(283, 80%, 25%, .2);
	padding: .3em .8em;
	box-shadow: 1px 1px 1px black;
	vertical-align: top;
}
fieldset {
	border: solid 1px white;
	border-radius: 8px;
}
.content>ul #alt {
	width: 75%;
}
.content>ul #dom_id {
	width: 10%;
}
label[for="alt"] {
	text-align: right;
}
ul.mock li:last-child {
	padding: 0.5em;
	border: solid 1px white;
}
.photos img {
	width: 100%;
}
.content li.asset figure {
	vertical-align: top;
}
.asset figcaption {
	margin: .2em 0;
}
.js .asset figure>* {
	position: absolute;
	left: -999px;
}
.asset label {
	display: block;
}
.asset label:first-of-type {
	display: inline-block;
}
.asset figure img {
	margin: 0;
	width: 100%;
}
.asset figure .pdf_icon {
	width: auto;
	display: block;
}
.asset figure input {
	margin: 0 0 .4em .2em;
}
.asset figcaption label, .asset figcaption input {
	margin: .25em 0;
}
.mock .asset figure img, .asset figure figcaption, .asset figure label:first-of-type, .asset figure input:first-of-type, .asset figure.edit>* {
	position: relative;
	left: 0;
}
.asset figure.edit input {
	width: 99%;
}
.asset figure.edit input[type=checkbox] {
	width: auto;
}
.asset figure label, .asset figure input {
	text-align: left;
	border-width: 0;
}
figure {
	width: 8%;
	min-width: 5em;
	padding: .2em;
	border: solid 1px;
	background-color: linen;
	background-color: rgba(255, 255, 255, .7);
}
.asset figure.edit {
	width: 15em;
	margin: 0 0 1% 1%;
}
.asset figure {
	margin: 0 0 0 1%;
}
.del label {
	color: red;
	background: black;
}
.neue label {
	text-align: right;
	border-width: 0;
}
.content>ul .neue li label, .content>ul .neue li input {
	width: auto;
}
#attr_id, #dom_id {
	width: 12%;
	width: auto;
}

.pp span, .pp a {
	padding: .33em 1em .44em 1em;
	margin: 0 .33em;
	background-color: #444;
	background-color: hsl(283, 33%, 50%);
	border-radius: 5px;
	color: white;
}
.content .pp span, .content .pp a {
	background-color: #CCB7CC;
	background-color: rgba(77, 55, 77, .35);
}
.cssgradients .content .pp span, .cssgradients .content .pp a {
	background-image: linear-gradient(135deg, rgba(77, 55, 77, .5), rgba(77, 55, 77, .2), rgba(77, 55, 77, .5));
}
.pp span:first-child, .pp a:first-child {
	margin: 0 .33em 0 0;
}
.pp {
	margin: 2em 0;
	border: solid 1px black;
	display: inline-block;
	padding: 1em .7em;
	border-radius: 10px;
}
.content>ul .pp {
	margin: .25em 0 1em 17%;
	position: relative;
	overflow: hidden;
	width: 83%;
	border: solid 1px white;
}
.content .pp span, .content .pp a {
	padding: .33em .66em .44em .66em;
	margin: 0 .25em;
	border: solid 1px white;
}
.pp a {
	color: white;
}
.pp a:hover {
	color: black;
}
.pp span {
	font-weight: bold;
	background-color: #754488;
	background-color: hsl(283, 33%, 40%);
}
.page_select {
	background-color: white;
	padding: 1em 0;
}
.content .pp span {
	background-color: #634663;
	background-color: rgba(77, 55, 77, .77);
}
.msg {
	display: inline-block;
	border-radius: 8px 1px;
	background-color: #444;
	background-color: hsl(283, 100%, 15%);
	font: italic 1.2em serif;
	margin: 0 0 .5em;
}
.errorMessage {
	color: red;
	font: bold italic 1.2em serif;
	padding: .3em 1em;
}
.statusMessage {
	color: #DFCBE6;
	color: hsl(285, 35%, 85%);
	padding: .3em 1em;
}
#asset {
	text-align: center;
	margin: 0;
	line-height: 1.3;
	width: 100%;
}
.buttons>* {
	margin: 0 .5em 0 0;
	padding: .25em;
}
.buttons input {
	text-transform: uppercase;
}
.buttons input:hover {
	color: red;
	background: black;
}
.buttons input:first-child:hover {
	color: yellow;
}
.buttons input:last-child:hover {
	color: silver;
}
#details input {
	margin-bottom: .5em !important;
}
nav .icon {
	display: inline-block;
	position: relative;
	width: 3em;
	margin: 1em 1em 0 0;
}
.icon:nth-child(odd) {
	margin: 1em .7em 0 0;
}
.icon img {
	width: 100%;
	margin: auto;
	background-color: #693A78;
	background-color: hsl(285, 35%, 35%);
	outline: 0;
}
.icon img:hover {
	background-color: #DFCBE6;
	background-color: hsl(285, 35%, 85%);
}
form input, .content ul li>label, .content ul>li>textarea, li.mock ul>li, .content>ul .pp {
	box-sizing: border-box;
}
/* MEEJA QUERIES */

@media only screen and (max-width: 1160px) {
	input#dom_id {
		margin: 0 90% 0 0;
	}
	#pubDate+label {
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	#page+label {
		display: none;
	}
}
@media only screen and (max-width: 910px) {
	#page+label {
		display: inline-block;
	}
}
@media only screen and (max-width: 736px) {
	.mock .mocklabel, .mock .asset, .mock .neue, .content #editList>li>* {
		width: 100%;
	}
	.content>ul>li>label, .mock .mocklabel {
		text-align: left;
		border-width: 0;
		background: none;
		box-shadow: none;
		padding: .3em .2em;
	}
	.edit-content ul, .edit-content textarea .content .buttons {
		margin-left: 0;
		width: 100%;
	}
	#pubDate {
		margin-right: 10%;
	}
	#pubDate+label {
		display: inline-block;
	}
	.content>ul .pp {
		margin: .25em 0 0;
		width: 100%;
	}
}
@media only screen and (max-width: 667px) {
	table, form, .manage {
		min-width: 20em;
	}
	.pp span, .pp a {
		padding: .33em .66em .44em .66em;
		margin: 0 .25em;
	}
	h3 {
		padding: 0;
		background-color: white;
	}
	label {
		width: auto;
		text-align: left;
		background: none;
	}
	.touchevents main {
		box-sizing: border-box;
	}
	table {
		width: 100%;
		min-width: 20em;
	}
	.manage label {
		display: inline-block;
	}
	.manage input[type="checkbox"] {
		margin-left: .33em;
	}
	form {
		width: auto;
	}
	form .buttons input {
		width: auto;
	}
	.content>ul .pp {
		padding: 2%;
	}
	.content>ul .pp span, content>ul .pp a {
		padding: .33em;
		width: 1em;
		height: 1em;
		margin: 0 .5%;
	}
}
@media only screen and (max-width: 580px) {
	.content #page {
		margin-right: 40%;
	}
	#pubDate {
		margin-right: 50%;
	}
}
@media only screen and (max-width: 479px) {
	.content #page {
		margin-right: 40%;
	}
	#pubDate {
		margin-right: 50%;
	}
	.content>ul .pp {
		border-width: 0;
	}
	.content>ul .pp span, .content>ul .pp a {
		border-radius: 0;
		margin: 0;
		border-width: 0;
		background-color: transparent;
	}
    
    .cssgradients .content>ul .pp span, .cssgradients .content>ul .pp a {
		background-image: linear-gradient(135deg, rgba(77, 55, 77, 0), rgba(77, 55, 77, 0), rgba(77, 55, 77, 0));
	}
	.content>ul .pp span {
		border-width: 1px;
	}
	#details+li {
		margin: 1em 0 0;
	}
}