textarea {
	padding: 1%;
	font: 1.1em/1.2 'Courier New', Courier, monospace;
}
table a {
	font-weight: bold;
}
.buttons {
	padding: .3em;
	color: white;
	background-color: rgba(0, 0, 0, .66);
	text-align: center;
}
.msg {
	display: inline-block;
	padding: .3em 1em;
	border-radius: 8px 1px;
	background-color: #444;
	background-color: hsl(283, 100%, 15%);
	font: italic 1.2em serif;
	margin: 0 0 .5em;
}
.errorMessage {
	color: red;
	font: bold italic 1.2em serif;
}
.statusMessage {
	color: hsl(285, 35%, 85%);
}

.buttons>* {
	margin: 0 .5em 0 0;
	padding: .25em;
}
.content>ul {
	width: 100%;
}

form.manage {
	border-radius: 8px 8px 0px 0px;
	border-radius: 8px;
	padding: 1%;
}
.admin main {
	padding: 1em;
}
.admin h3 {
	color: black;
}
.admin form {
	border: solid 1px #444;
	text-align: center;
}
.admin fieldset {
	border: solid 1px white;
	border-radius: 8px;
}
.admin legend {
	margin-left: .5em;
	text-transform: uppercase;
	padding: .5em;
}
.admin select {
	border: solid 1px black;
}
.admin table {
	border: solid 1px black;
	table-layout: fixed;
}
.admin table, .manage {
	width: 40%;
	min-width: 28em;
}
.admin th {
	font-weight: bold;
}
.photos img {
	width: 100%;
}
.asset figcaption {
	margin: .2em 0;
}

.buttons input {
	text-transform: uppercase;
}
.buttons p {
	text-align: center;
	color: yellow;
}
nav .icon {
	display: inline-block;
	position: relative;
	width: 3em;
	margin: 1em 1em 0 0;
}
.icon img {
	width: 100%;
	background-color: hsl(285, 35%, 35%);
	left: -1px;
}

li.mock, li.mock ul {
	width: 100%;
	margin: 0;
}
form.content input, select {
	font: .8rem/1.5 Optima Arial, sans-serif;
	border-radius: 5px;
	border: solid 1px white;
}
.admin section input {
	position: relative;
	left: 0;
}
.manage div input {
	width: 100%;
}
.content ul li {
	margin: 1em 0;
}
.content>ul input, .content>ul textarea {
	box-sizing: border-box;
	border: 0;
	padding: .3em;
}
figcaption.del label {
	color: red;
	background: black;
}
form.manage+form {
	display: none;
}
.admin table tr>* {
	table-layout: fixed;
	border: 0px solid black;
	padding: .5em;
	line-height: normal;
}

.content ul li>* {
	line-height: 1.25;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
}

.admin form li label {
	margin: 0;
	line-height: 1;
}
.content ul>li>input, .content ul>li>textarea {
	margin: 0 0 1% 1%;
	width: 83%;
}

li.mock ul>* {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
}
li.mock ul li {
	margin: 0;
}

.content li.asset>* {
	vertical-align: middle;
}
.content>ul>li>label, .mocklabel {
	margin: 0;
	width: 16%;
	min-width: 7em;
	border: solid 1px white;
	border-radius: 8px;
	background-color: hsla(283, 80%, 25%, .2);
	padding: .3em .8em;
	box-shadow: 1px 1px 1px black;
	vertical-align: top;
}
.mock .mocklabel {
	margin: 0 1% 0 0;
	width: 16%;
}
.buttons input:hover {
	color: red;
	background: black;
}
.icon:nth-child(odd) {
	margin: 1em .7em 0 0;
}
.icon img:hover {
	background-color: hsl(285, 35%, 85%);
}
/*overrides default hiding of inouts which are used in no-js scenario*/

.content label, .content .mocklabel {
	word-spacing: normal;
	letter-spacing: normal;
	text-align: right;
}
.mock .neue, .mock .asset {
	width: 83%;
}
.admin form.prompt {
	padding: 0;
}
.admin form.editor {
	text-align: left;
	padding: 1.75em;
	margin: 1em 0;
}
.admin label[for="alt"] {
	text-align: right;
}
.admin .asset label {
	display: block;
}
.admin form.content, .admin form.editor {
	float: none;
	background-color: #af8dbb;
	background-color: hsl(283, 25%, 74%);
	padding: 2%;
}
.admin .manage select {
	margin: 0 .5em;
}
.admin a:link, .admin a:visited {
	color: hsl(283, 100%, 25%);
}
.admin a:active, .admin a:hover {
	color: hsl(283, 50%, 45%);
}
.admin table tr:nth-child(odd) {
	background-color: hsl(283, 15%, 95%);
}
.admin table tr:first-child {
	background-color: black;
	color: hsl(283, 15%, 85%);
}
.admin input[type="submit"] {
	font: bold 1em Helvetica;
	padding: .1em .9em;
}
.manage input[type="checkbox"] {
	width: auto;
}
.admin form label, .mocklabel, .admin form.manage fieldset legend {
	font: 1em 'Arial Black', Arial, sans-serif;
	color: black;
}
.admin p, .admin form.content, form.content li {
	text-align: left;
}
.admin .asset figure input {
	margin: 0 0 .4em .2em;
}
.admin .asset figcaption>* {
	margin: .25em 0;
}
.neue, .asset, .asset figure, .admin form textarea, .admin form.manage fieldset {
	border: solid 1px white;
	padding: .75em;
	border-radius: 5px;
}

.admin form.manage fieldset {
	padding: 1em;
	border-radius: 8px 8px 0px 0px;
	margin: .5em 0 1em;
}
.admin form.prompt fieldset {
	border-width: 1px 1px 0px;
}
form.manage+form.manage {
	border-width: 0 1px 1px;
	border-radius: 0px 0px 8px 8px;
}
.content li.mock ul li input {
	width: auto;
	margin: 0;
}
.content li.asset figure {
	vertical-align: top;
}
.js .asset figure>* {
	position: absolute;
	left: -999px;
}
.admin .asset figure img {
	margin: 0;
	width: 100%;
}
.admin .asset label:first-of-type {
	display: inline-block;
}
.admin ul.mock li:last-child {
	padding: 0.5em;
	border: solid 1px white;
}
.admin .asset figure img.pdf_icon {
	width: auto;
	display: inline;
}
.admin .asset figure img, .admin .asset figure figcaption, .admin .asset figure label:first-of-type, .asset figure input:first-of-type, .admin .asset figure.edit>* {
	position: relative;
	left: 0;
}
.admin .asset figure.edit input {
	width: 99%;
}
.admin .asset figure.edit input[type=checkbox] {
	width: auto;
}
.admin .asset figure label, .admin .asset figure input {
	text-align: left;
	border-width: 0px;
}
.admin .asset figure {
	width: 11%;
	min-width: 5em;
	padding: .2em;
	border: solid 1px;
	background-color: rgba(255, 255, 255, .7);
}
.admin .asset figure.edit {
	width: 15em;
	margin: 0 0 1% 1%;
}
.admin .asset figure {
	margin: 0 0 0% 1%;
}
.admin .neue label {
	text-align: right;
	border-width: 0;
}
.content>ul .neue li label, .content>ul .neue li input {
	width: auto;
}
.buttons input:first-child:hover {
	color: yellow;
}
.buttons input:last-child:hover {
	color: silver;
}

#pp {
	margin: 2em 0;
	border: solid 1px black;
	display: inline-block;
	padding: 1em .7em;
	border-radius: 10px;
}
#loginform {
	text-align: left;
	padding: 2%;
	background-color: hsl(283, 25%, 74%);
	border-radius: 8px;
    width: 40%;
	min-width: 28em;
}
#controls, #content, .content .buttons {
	margin: 0 0 2% 17%;
	width: 83%;
	box-sizing: border-box;
}
#controls {
	margin-left: 17%;
}
input#attr_id, input#dom_id {
	width: 10%;
}
form#page_select {
	background-color: white;
	padding: 1em 0;
	text-align: left;
	border-width: 0;
}
#pp>* {
	padding: .33em 1em .44em 1em;
	margin: 0 .33em;
	background-color: #444;
	background-color: hsl(283, 33%, 50%);
	border-radius: 5px;
	color: white;
}
#pp span {
	font-weight: bold;
	background-color: hsl(283, 33%, 40%);
}
input#asset {
	text-align: center;
	margin: 0%;
	line-height: 1.3;
	width: 100%;
}
#details input {
	margin-bottom: .5em !important;
}
#loginform input {
	width: 100%;
	box-sizing: border-box;
}

#loginform div {
	margin: 1em 0 0;
	text-align: center;
}
#controls li {
	display: inline-block;
	width: 5%;
	min-width: 2.5em;
	margin: 0 .25em;
	box-shadow: 1px 1px 2px black;
	border-radius: 5px;
	cursor: pointer;
}
#adminHeader h2 {
	background: none;
	text-shadow: none;
	color: black;
	padding: 0;
	margin: 0 0 .5em;
	line-height: 1;
	border: solid 0px hsl(283, 44%, 44%);
	border-width: 0 0 6px;
	display: inline-block;
	font-size: 3em;
}
#controls li img {
	border-radius: 5px;
	display: block;
	width: 100%;
}

#loginform input[type="submit"] {
	width: auto;
}

#loginform .buttons {
	background-color: transparent;
}
.content #pp>* {
	background-color: rgba(77, 55, 77, .35);
	background-image: linear-gradient(135deg, rgba(77, 55, 77, .5), rgba(77, 55, 77, .2), rgba(77, 55, 77, .5));
}
#pp>*:first-child {
	margin: 0 .33em 0 0;
}
#pp a:hover {
	color: black;
}
.content>ul #pp {
	margin: .25em 0 1em 17%;
	position: relative;
	overflow: hidden;
	width: 83%;
	box-sizing: border-box;
	border: solid 1px white;
}
.content>ul #pp>* {
	padding: .33em .66em .44em .66em;
	margin: 0 .25em;
	border: solid 1px white;
}
.content #pp span {
	background-color: rgba(77, 55, 77, .77);
}
#controls li:hover {
	background-color: hsl(283, 25%, 44%);
}
.content>ul input#alt {
	width: 75%;
}
.content>ul input#dom_id {
	width: 10%;
}
@media only screen and (max-width: 1160px) {
    div {
        
    }
	input#dom_id {
		margin: 0 90% 0 0;
	}
	#pubDate+label {
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	#page+label {
		display: none;
	}
}
@media only screen and (max-width: 910px) {
	#page+label {
		display: inline-block;
	}
}
@media only screen and (max-width: 736px) {
	.mock .mocklabel, .mock .asset, .mock .neue, .content #editList>li>* {
		width: 100%;
	}
	.content #editList>li>label, .mock .mocklabel {
		text-align: left;
		border-width: 0;
		background: none;
		box-shadow: none;
		padding: .3em .2em;
	}
	#controls, #content, .content .buttons {
		margin-left: 0;
		width: 100%;
	}
	#pubDate {
		margin-right: 10%;
	}
	#pubDate+label {
		display: inline-block;
	}
	.content>ul #pp {
		margin: .25em 0 0;
		width: 100%;
	}
}
@media only screen and (max-width: 667px) {
       div {
        
    }
	.admin h3 {
		padding: 0;
		background-color: white;
	}
	.admin label {
		width: auto;
		text-align: left;
		background: none;
	}
	.touchevents main {
		box-sizing: border-box;
	}
	.admin table {
		width: 100%;
		min-width: 20em;
	}
	.manage label {
		display: inline-block;
	}
	.manage input[type="checkbox"] {
		margin-left: .33em;
	}
	#loginform {
		width: auto;
	}
	#loginform .buttons input {
		width: auto;
	}
	.content>ul #pp {
		padding: 2%;
	}
	.content>ul #pp>* {
		padding: .33em;
		width: 1em;
		height: 1em;
		margin: 0 .5%;
	}
}
@media only screen and (max-width: 580px) {
	.content #page {
		margin-right: 40%;
	}
	#pubDate {
		margin-right: 50%;
	}
}
@media only screen and (max-width: 479px) {
	#pubDate {
		margin-right: 50%;
	}
    
    .content #page {
		margin-right: 40%;
	}
    #details+li {
		margin: 1em 0 0;
	}
	
	.content>ul #pp {
		border-width: 0;
	}
	.content>ul #pp>* {
		border-radius: 0px;
		margin: 0;
		border-width: 0;
		background-color: transparent;
		background-image: linear-gradient(135deg, rgba(77, 55, 77, 0), rgba(77, 55, 77, 0), rgba(77, 55, 77, 0));
	}
	.content>ul #pp span {
		border-width: 1px;
	}
	
}