
#admin table tr > *{
    table-layout: fixed;
    border: 1px solid black;
    padding: .5em;
    line-height: normal;
}

#admin h2 {
    background: none;
    text-shadow: none;
    color: black;
    padding: 0;
    margin: 0 0 .5em;
    line-height: 1;
    border: solid 0px #cc6;
    border-width: 0 0 6px;
    display: inline-block;
}

#admin h3 {
    display: inline-block; 
}


#admin form li {
    margin: .5em 0;
}

#admin form {
    background-color: hsl(54, 50%, 66%);
    float: none;
    padding: 1em;
}


#admin form li > * {
    line-height: normal;
    margin: 0;
    vertical-align: top;
    width: 80%;
    display: inline-block;
}

#admin form li span {
    width: auto;
}

#admin form li.asset > *{
    vertical-align: middle;
}

#admin form label {
    width: 16%;
    margin: 0 1% 0 0;
    background-color: transparent;
    border: solid 0px white;
    border-width: 0 0 4px;
    word-spacing: normal;
    letter-spacing: normal;
    font-size: 1.2em;
}
.buttons {
    margin: 0 0 0 18%;
}
.buttons input {
    margin: 0 !important;
}

#admin input#alt {
    width: 58%;
}

#admin input#dom_id {
    width: 14%;
}

#admin label[for="dom_id"] {
    width: 6%;
    margin: 0 0 0 1%;
}

#admin label[for="alt"] {
    text-align: right;
}

#admin #neue {
    background-color: rgba(255,255,255, 0.5);
    padding: 0 0 0.5em;
}

#admin #neue label {
    text-align: right;
    border-width: 0;
}

#admin #neue li {
    margin: 0;
    padding: 0.5em 0 0;
}

#admin .asset figure img {
    margin: 0;
    width: 100%;
}
#admin .asset figure img.pdf_icon {
    width: auto;
    display: inline;
}
#admin .asset {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#admin .asset figure  {
    flex: 0 1 15em;
    font-size: .75em;
    width: 1%;
    border: solid 1px;
    margin: .5em;
    padding: 1em;
    background-color: rgba(255,255,255, 0.5);
}
#admin .asset {
    margin: 0 0 0 18%;
}
#admin .asset figure label, #admin .asset figure input   {
    display: block;
    width: 100% !important;
    text-align: left;
    border-width: 0px;
}

#admin .asset figure input[type="checkbox"]{
    width: auto !important;
    display: inline-block;
}

#admin .asset figcaption > * {
    margin: .25em 0;
}
