@keyframes bgfade {
	0% {
		background-image: url(../images/poloafrica_flower_logo.jpg);
	}
	50% {
		background-image: url(../images/polo150yrs_squared_logo.jpg);
	}
	100% {
		background-image: url(../images/polo_armed_forces_logo.jpg);
	}
}
body {
	font: normal .875em/1.75 Georgia, serif;
	background-color: white;
}
.no-js body {
	background-color: mintcream;
}
header {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-color: #b6b685;
	background-size: 100%;
	background-position: 0 76%;
}
h3, label {
	font-size: 1.75em;
	word-spacing: 1px;
	letter-spacing: 1px;
}
a:link, a:visited, a:hover, a:active {
	color: #993;
    color: hsl(58,60%, 40%);
}
a:hover, a:active {
	color: #cc6;
}
p a:hover, p a:active {
	text-decoration: underline;
}
a:hover h3, a:active h3 {
	color: #993;
    color: hsl(58,60%,48%);
}
p {
	color: #444;
	text-align: justify;
	margin: .5em 0 0 0;
}
p:first-of-type {
	margin: 0;
}
/*
  p::first-letter {
     -webkit-initial-letter: 4;
     initial-letter: 4;
     color: #FE742F;
     font-weight: bold;
     margin-right: 0.5em;
  }
*/

h2 {
	margin: .8em 0 0 0;
	color: #cc6;
	color: hsl(58,60%,48%);
	font-family: Georgia, serif;
	font-size: 2.8em;
	line-height: 1.75;
	font-weight: normal;
	text-transform: uppercase;
	padding: 1px 0 1px 0;
    text-shadow: 1px 1px 2px #444;
	background: url(../images/sub-polo-in-africa.png) no-repeat 0% 0%;
	background-size: contain;
}

h2:hover, h2:active {
	color: #cc6;
}
/* direct child selector, otherwise will have to override for animation */

article>img {
	border: solid 1px white;
	/*box-shadow: 0px 0px 12px indigo;*/
}
#nav {
	font: bold 1em/2 'Arial Black', Arial, Verdana, Helvetica, serif;
}
#nav ul {
	font: normal .9em/1.4 Arial, Verdana, Helvetica, serif;
	padding-bottom: 1em;
}
#nav li {
	border: solid 1px #ccc;
	border-color: #ccc #000 #449 #ccc;
}
section a {
	font-weight: bold;
	outline: none;
}
#nav a {
	text-align: center;
	background-color: #af8ddb;
	background-image: url("../images/navbg.gif");
	background-image: linear-gradient(#af8ddb, #b793e7, #af8ddb);
}
#nav a:link, #nav a:visited {
	color: #306;
}
#nav li a:hover, #nav li a:active {
	color: #fff;
	background-color: #b6b685;
	background-image: url("../images/navbghov1.gif");
	background-image: linear-gradient(#b6b685, #caca9f, #b6b685);
}
#nav ul li {
	margin: 1px 0 0;
	border: solid 1px transparent;
	border-width: 3px 1px 0;
}
#nav li ul a:link, #nav li ul a:visited {
	background: #cc9;
	border: solid 1px;
	border-color: #999 #000 #000 #999;
	padding: 0 .7em;
	background-image: none;
}
#nav li ul li a:hover, #nav li ul li a:active {
	background-color: #fff;
	border: solid 1px #900;
}
#home li:nth-child(1) a, #trust li:nth-child(2) a, #scholars li:nth-child(3) a, #place li:nth-child(4) a, #stay li:nth-child(5) a, #polo li:nth-child(6) a, #medley li:nth-child(7) a, #enquiries li:nth-child(8) a, #photos li:nth-child(9) a {
	color: white;
}
/*override above for sub-menu*/

#nav ul li a:link, #nav ul li a:visited, #nav ul li a:hover, #nav ul li a:active {
	color: #306;
}
footer {
	background: url(../images/footer_green_ko.png) no-repeat;
	background-position: bottom right;
}
#footer_girl a:last-child:before {
	content: " | ";
}
footer a:link, footer a:visited {
	color: white;
	padding: 0;
	line-height: normal;
}
footer>a:last-child {
	border-top: dotted 1px #cc6;
	text-align: right;
	margin: 0;
	padding: .75em 1em;
}
footer div a:hover, footer b {
	color: #cc6;
}
/**/

/**/
 h2 span {
        display: block;
        padding: 0 0 0 10rem;
    }

@media only screen {
    
    h2 {
		background-image: linear-gradient(to right,#993, white);
		background-image: linear-gradient(90deg, hsl(58,60%,45%), white);
	}
}
@media screen and (max-width: 800px) {
	#nav {
		font: bold .9em/2 'Arial Black', Arial, Verdana, Helvetica, serif;
	}
}
@media screen and (max-width: 667px), screen and (not(-ms-high-contrast: active)), screen and (not (-ms-high-contrast: none)) {
	.js #wrap body {
		margin: 0;
		background-color: khaki;
	}
    h2:hover, h2:active {
        color: azure;
    }
	#nav ul {
		font: bold 1em/2 'Arial Black', Arial, Verdana, Helvetica, serif;
	}
	footer {
		background: url(../images/sil_bg.png) no-repeat top center;
		background-size: cover;
		padding: 7em 0 0 0;
	}
	header a h1 img {
		visibility: visible;
	}
	nav#main_nav ul li a:hover, nav#main_nav ul li a:active {
		color: #993;
		background-color: #E7E7C7;
		background-image: none;
	}
	#home li:nth-child(1) a, #trust li:nth-child(2) a, #scholars li:nth-child(3) a, #place li:nth-child(4) a, #stay li:nth-child(5) a, #polo li:nth-child(6) a, #medley li:nth-child(7) a, #enquiries li:nth-child(8) a, #photos li:nth-child(9) a {
		color: #cc6;
	}
	a:hover h3 {
		color: #fff;
	}
	header {
		background-image: url(../images/header_only.png);
		background-position: 0px 0px;
		background-size: cover;
	}
	.touchevents article section p {
		padding: 0 1em;
	}
	.touchevents article section p:first-of-type {
		padding: 1em 1em 0;
	}
    .js article section p:first-of-type {
		padding: 1em 0 0;
	}
	/*
.js article section > * {
    opacity: 0;
    transition: opacity 4s ease-out;
    height: 0px;
    transition: height 9s ease-out;
}
    
.js article section:first-child, .js article.show section > * {
    opacity: 1;
    height: auto;
    }
    */
	.menu {
		background: 50% 0% url("../images/polo_ball_sprite.png") no-repeat;
		background-size: 100%;
		cursor: pointer;
		-webkit-transition: transform 1s;
		-o-transition: transform 1s;
		transition: transform 1s;
	}
	.menu:hover {
		background-position: 50% 100%;
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	ul#nav {
		background: white;
		-webkit-box-shadow: -3px 3px 6px hsla(300, 10%, 20%, .75);
		box-shadow: -3px 3px 6px hsla(300, 10%, 20%, .75);
		border-radius: 2px;
	}
	label, .js h3 {
		font-size: 1.4em;
		font-size: 1.25rem;
		margin: 0;
		background-color: #E7E7C7;
		background-color: hsl(60, 40%, 84%);
		line-height: 1.75;
	}
	label {
		font-weight: bold;
	}
	/*https://stackoverflow.com/questions/31412645/pseudo-element-100-width-is-not-taking-container-size*/
	.js h3, .no-js article .read-more-trigger:before {
		padding: .5em .6em .4em;
		border-bottom: solid 1px white;
	}
	.read-more-trigger:before, .no-js article:first-of-type .read-more-state:checked~.read-more-trigger:before {
		color: #993;
		text-shadow: none;
		background-color: #E7E7C7;
		background-color: hsl(60, 40%, 84%);
	}
	.js article img {
		border-bottom: solid 1px white;
	}
	.no-js article .read-more-trigger:before:hover {
		background-color: white;
		color: #993;
	}
	article.show h3, .read-more-state:checked~.read-more-trigger:before, .no-js article:first-of-type .read-more-state~.read-more-trigger:before {
		color: white;
		text-shadow: 1px 1px 1px black;
		background-color: hsl(60, 40%, 64%);
	}
	/* explicitly set float to none in case browser doesn't support flex/grid*/
	.no-js article>img, .js section>img {
		float: none;
		border-width: 0;
	}
	ul#nav a {
		text-align: right;
	}
	ul#nav li {
		border-width: 0 0 1px;
	}
	#nav>li a {
		background: none;
		padding: 0 1em 0 0;
		display: block;
	}
	h2 {
		color: white;
		background-image: none;
		text-shadow: 2px 2px 2px black;
		border: 1px solid;
		border-width: 1px 0 0;
	}
	h3 {
		line-height: 1.75;
	}
	.noir {
		background: black;
	}
	#footer_girl a:last-child:before {
		content: "";
	}
}
@media only screen and (max-width: 440px) {
	footer>a:last-child {
		padding: .75em .6em;
	}
}
/*@*/
