/*https://www.smashingmagazine.com/2019/03/web-on-internet-explorer-ie8/
“Optimize for the majority, make an effort for the minority, and never sacrifice security.”
https://stackoverflow.com/questions/52364501/fallback-for-svg-injection-with-no-javascript-svg-support
https://codepen.io/ourmaninamsterdam/pen/ilBIz
https://codepen.io/tigt/post/inline-svg-fallback-without-javascript-take-2*/

html {
	--col1: green;
}

body {
	font: normal .875em/1.75 'Lora', Georgia, serif;
	background-color: white;
}


header, h2, h3, h2 span, header a h1 {
    width: 100%;
}
header {
	background-image: url(../images/resource/header_only.jpg);
	background-repeat: no-repeat;
	box-sizing: border-box;
	background-position: 0 60%;
	background-color: hsla(258, 60%, 67%, .6);
    
}
header {
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
h2 {
	margin: .8em 0 0;
	text-transform: uppercase;
    font: normal 2.8em/1.3 'Lora', Georgia, serif;
	padding: 1px 0;
	color: #cc6;
	color: hsl(58, 60%, 48%);
	text-shadow: 1px 1px 2px #444;
	background-color: #990;
	background-image: url(../images/resource/h2grad.jpg);
	background-repeat: no-repeat;
	background-position: 100% center;
	-o-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
}
h3 {
	margin: 0 0 .3em 0;
	color: #990;
	color: hsl(58, 60%, 40%);
	font: 1.75em/1.2 'Lora', Georgia, serif;
}
p {
	color: #444;
	text-align: justify;
	margin: .5em 0 0 0;
}
footer {
    /*certain browsers support background-size but not keywords cover, contain etc..*/
	background-image: url(../images/resource/footer_green_ko.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-position: 100% 100%;
	background-blend-mode: multiply;
	-o-background-size: 100%;
	-moz-background-size: 100%;
	-ms-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
    -o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
h2 span {
	display: inline-block;
	padding: 0 0 0 3.75em;
	padding: 0 0 0 9rem;
	background-repeat: no-repeat;
    background-color: white;
	/*to cover background gradient on h2*/
}
header ul {
	font: bold 1em/2 'Roboto', 'Arial Black', Arial, Verdana, Helvetica, serif;
}
section img {
	border-radius: 4px;
	box-shadow: 0px 0px 4px #990;
	border: solid 1px white;
}
article a {
	font-weight: bold;
}
footer>a {
	border-top: dotted 1px #cc6;
	text-align: right;
	padding: .75em 1em .75em 0;
}
footer b, footer div a:hover {
	color: #cc6;
	color: hsl(60, 50%, 60%);
}
header h1, h2 span, header h1 img {
	border-width: 0;
}
header>a {
	white-space: nowrap;
	text-align: left;
}
header a h1 {
	text-indent: -9999px;
	background-image: url("../images/resource/logo_desktop.png");
	background-image: url("../images/resource/logo_desk.svg"), linear-gradient(transparent, transparent);
	background-repeat: no-repeat;
	font: 2em/2.6 Arial, Verdana, Helvetica, serif;
}
/*fallback browsers that support svg as img but not inlinesvg assumes javascript*/
.svgasimg.svgfilters h1 {
	background-image: url("../images/resource/logo_desk.svg");
	margin: 0 0 0 -3em;
}
.inlinesvg.svgfilters h1 {
	background-image: none;
}
header ul ul {
	font: normal .9em/1.4 Arial, Verdana, Helvetica, serif;
	padding: 0 0 1em;
}
header ul li a {
	border: solid 1px;
}
header nav>ul>li>a {
	background-color: #af8ddb;
	background-image: url("../images/resource/navbg.gif");
	background-image: linear-gradient(hsl(265, 54%, 64%), hsl(265, 64%, 74%), hsl(265, 54%, 64%));
	border-color: #ccc #306 #306 #ccc;
	text-align: center;
}
footer a:link, footer a:visited {
	color: white;
	line-height: normal;
}
header nav>ul>li>a:hover, header nav>ul>li>a:active {
	background-image: url("../images/resource/navbghov1.gif");
	background-image: linear-gradient(hsl(60, 25%, 62%), hsl(60, 35%, 72%), hsl(60, 25%, 62%));
}
.no-js header {
	background-blend-mode: multiply;
}
.cssgradients h2 {
	background-image: linear-gradient(to right, #b8b32e, white);
	background-image: linear-gradient(90deg, hsl(58, 60%, 45%), white);
	background-color: transparent;
}
.backgroundsize h2 span {
	-o-background-size: 17%;
	-moz-background-size: 17%;
	-ms-background-size: 17%;
	-webkit-background-size: 17%;
	background-size: 17%;
	-o-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}
a:link, a:visited, .no-touchevents h3 a:hover, .no-touchevents h3 a:active {
	color: #990;
	color: hsl(58, 60%, 40%);
}
a:hover, a:active {
	color: #cc6;
	color: hsl(58, 60%, 48%);
}
p a:hover, p a:active {
	text-decoration: underline;
}
footer a[href^="mailto:i"]:before {
	content: " | ";
}
header ul a, header ul a:link, header ul a:visited {
	color: #306;
	color: hsl(270, 100%, 20%);
}
header ul li a:hover, header ul li a:active {
	background-color: #b6b686;
	background-color: hsl(60, 25%, 62%);
}
li.current>a:link, li.current>a:visited {
	color: white;
}
#wrap ul ul li {
	border: solid 1px transparent;
	border-width: 3px 1px 0;
}
ul ul a:link, ul ul a:visited {
	background-color: #b6b686;
	background-color: hsl(60, 25%, 62%);
	border-color: #999 #000 #000 #999;
	padding: 0 .7em;
}
header ul li a:hover, header ul li a:active, #home li:nth-child(1) a, #trust li:nth-child(2) a, #scholars li:nth-child(3) a, #place li:nth-child(4) a, #stay li:nth-child(5) a, #polo li:nth-child(6) a, #medley li:nth-child(7) a, #enquiries li:nth-child(8) a, #photos li:nth-child(9) a {
	color: white;
}
/*zap*/

#wrap ul ul a:link, #wrap ul ul a:visited {
	color: #306;
	color: hsl(270, 100%, 20%);
}
#wrap ul ul a:hover, #wrap ul ul a:active {
	background-color: white;
	border-color: #900;
}
@media screen {
	h2 {
		line-height: 1.5;
	}
}
@media screen and (min-width: 1024px) {
	section img {
		box-shadow: none;
		border-color: #444;
		border-radius: 1em;
	}
	header ul {
		text-transform: uppercase;
	}
    /* deciding NOT to serve flex layout if JS disabled hence wrapp NOT wrap*/
	@supports(flex-wrap: wrapp) or (-webkit-flex-wrap: wrapp) {
		body {
			background-color: hsla(265, 64%, 74%, .05);
		}
		header {
			background-image: url(../images/resource/crop.JPG);
			background-blend-mode: multiply;
			background-position: center 40%;
		}
		h3 {
			white-space: nowrap;
			margin: 0 0 1.5em 0;
			text-transform: uppercase;
			text-align: center;
			border-width: 0 !important;
		}
		h2 span {
			padding: 0 1em;
			display: inline-block;
			border-radius: 1em;
			color: white;
			width: auto;
		}
		h2:after {
			content: '';
			display: block;
			height: .1em;
			margin: -.8em 1% 1em;
			border-radius: 1em;
			background-image: linear-gradient(to left, hsla(265, 54%, 64%, 0), hsl(265, 64%, 74%), hsla(265, 54%, 64%, 0));
			background-color: transparent;
		}
		p:first-of-type {
			margin: 0;
		}
		h3:after {
			margin: -.6em 0 0;
		}
		header a h1 {
			background-position: center top;
		}
		.no-cssgradients h2:after, .no-js h2:after {
			background-color: hsl(265, 64%, 74%);
		}
		.override h3 a {
			border: solid 1px #a39f29;
			border: solid 1px hsl(58, 60%, 40%);
			padding: .2em .6em;
			border-radius: 1em;
			background: white;
			color: #666;
		}
		h3:after, p:first-of-type:after, p:first-of-type+p:before {
			content: '';
			display: block;
			border-top: solid 1px #a39f29;
			border-top: solid 1px hsl(58, 60%, 40%);
		}
		p:first-of-type:after {
			margin: 1em 15%;
		}
		p:first-of-type+p:before {
			height: 1em;
			width: 1em;
			background: hsl(58, 60%, 40%);
			margin: -1.5em auto 1em;
			border-radius: 50%;
		}
		h2 {
			background: none;
			text-align: center;
		}
		h2 span {
			background-image: linear-gradient(hsl(265, 54%, 64%), hsl(265, 64%, 74%), hsl(265, 54%, 64%));
		}
		.no-js h2 span {
			background-image: none;
			background-color: #9b72d5;
			background-color: hsl(265, 64%, 74%);
		}
		/*default to flat color on no-js, override here wrap required to trump individual pages*/
		@supports (background-image: linear-gradient(black, white)) {
			.no-js h2:after {
				background-image: linear-gradient(to left, hsla(265, 54%, 64%, 0), hsl(265, 64%, 74%), hsla(265, 54%, 64%, 0));
				background-color: transparent;
			}
			#wrap h2 span {
				background-image: linear-gradient(hsl(265, 54%, 64%), hsl(265, 64%, 74%), hsl(265, 54%, 64%));
			}
		}
	}
	/* WRAP */
	.flexwrap.no-cssgradients h2 span:first-child {
		background-image: none;
		background-color: #9b72d5;
		background-color: hsl(265, 64%, 74%);
	}
	.flexwrap header {
		background-image: url(../images/resource/crop.JPG);
		background-position: center 40%;
		background-blend-mode: multiply;
	}
	.flexwrap h3 {
		white-space: nowrap;
		margin: 0 0 1.5em 0;
		text-transform: uppercase;
		text-align: center;
		border-width: 0 !important;
	}
	.flexwrap h2 {
		background: none;
		text-align: center;
	}
	.flexwrap h2 span {
		padding: 0 1em;
		display: inline-block;
		border-radius: 1em;
		color: white;
		width: auto;
	}
	.flexwrap h2:after {
		content: '';
		display: block;
		height: .1em;
		margin: -.8em 1% 1em;
		border-radius: 1em;
		background-image: linear-gradient(to left, hsla(265, 54%, 64%, 0), hsl(265, 64%, 74%), hsla(265, 54%, 64%, 0));
		background-color: transparent;
	}
	.flexwrap h3 a {
		border: solid 1px #a39f29;
		border: solid 1px hsl(58, 60%, 40%);
		padding: .2em .6em;
		border-radius: 1em;
		background: white;
		color: #666;
	}
	/* para rules before/after don't work on float layout */
	.flexwrap h3:after, .flexwrap article p:first-of-type:after, .flexwrap article p:first-of-type+p:before {
		content: '';
		display: block;
		border-top: solid 1px #a39f29;
		border-top: solid 1px hsl(58, 60%, 40%);
	}
	.flexwrap p:first-of-type:after {
		margin: 1em 15%;
	}
	.flexwrap p:first-of-type {
		margin: 0;
	}
	.flexwrap h3:after {
		margin: -.6em 0 0;
	}
	.flexwrap article p:first-of-type+p:before {
		height: 1em;
		width: 1em;
		background: hsl(58, 60%, 40%);
		margin: -1.5em auto 1em;
		border-radius: 50%;
	}
	html.flexwrap h2 span {
		background-image: linear-gradient(hsl(265, 54%, 64%), hsl(265, 64%, 74%), hsl(265, 54%, 64%));
	}
	.no-flexwrap #wrap h2 span {
		background-position: 0% 50%;
		-o-background-size: 13%;
		-moz-background-size: 13%;
		-ms-background-size: 13%;
		-webkit-background-size: 13%;
		background-size: 13%;
        -o-background-size: contain;
		-moz-background-size: contain;
		-ms-background-size: contain;
		-webkit-background-size: contain;
		background-size: contain;
	}
}
@media screen and (min-width: 1280px) {
	.no-flexwrap #wrap h2 span {
		background-position: 0% 50%;
		-o-background-size: 11%;
		-moz-background-size: 11%;
		-ms-background-size: 11%;
		-webkit-background-size: 11%;
		background-size: 11%;
        -o-background-size: contain;
		-moz-background-size: contain;
		-ms-background-size: contain;
		-webkit-background-size: contain;
		background-size: contain;
	}
}
@media screen and (max-width: 800px) {
	header ul {
		font: bold .9em/2 'Arial Black', Arial, Verdana, Helvetica, serif;
	}
}

@media only screen and (min-width: 1024px) {
	.js article, .js section>img, aside {
		-webkit-transition-property: opacity, -webkit-transform;
		transition-property: opacity, -webkit-transform;
		-o-transition-property: transform, opacity;
		transition-property: transform, opacity, -webkit-transform;
		transition-property: transform, opacity;
		-webkit-transition-duration: 3s;
		-o-transition-duration: 3s;
		transition: 4s 1s;
		opacity: 0;
    }

	.js aside {
		-webkit-transform: translate(69%, 0);
		-ms-transform: translate(69%, 0);
		transform: translate(69%, 0);
	}
	.js section>img:last-of-type {
		-webkit-transform: translate(69%, 0);
		-ms-transform: translate(69%, 0);
		transform: translate(100%, 0);
	}
	.js article, .js section:nth-child(even)>img {
		-webkit-transform: translate(-69%, 0);
		-ms-transform: translate(-69%, 0);
		transform: translate(-69%, 0);
	}
	.js section:nth-child(even) article {
		-webkit-transform: translate(69%, 0);
		-ms-transform: translate(69%, 0);
		transform: translate(69%, 0);
	}
	.js .override .display article, .js .override .display>img, .js .display aside {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
	#enquiries article, #enquiries section img {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity: 1;
	}
}

/*
@media only screen and (min-width: 1024px) {
    main, main section {
        position: relative;
    }
	.js article, .js section>img, aside {
        position: relative;
		opacity: .5;
        transition: all 1s;
	}
	.js section>img, .js aside, .js section:nth-child(even) article {
		left: 1000px;
	}
    .js article, .js section:nth-child(even)>img {
		left: -1000px;
	}
    .js .override section.display article, .js .override section.display>img, .js section.display aside {
        left: 0px;
        opacity: 1;
    }

}
*/