section {
	margin: 2em 0 0;
}
h3 {
	border-bottom: solid 1px;
}
form {
	width: 75%;
	font-family: Optima, Arial, Helvetica, Verdana, sans-serif;
	background-color: #cc9;
	background-color: hsl(60, 33.33%, 70%);
	border: solid 1px #000;
	padding: 1em 0;
	border-radius: 10px;
}

fieldset {
	font-size: 1em;
	padding: 0 0 0 2%;
	border: solid 1px black;
	border-width: 1px 0 0;
}

label, input, textarea, legend {
	border-radius: 8px;
}
legend {
	font-weight: bold;
	background-color: #cc6;
	border: solid 1px white;
    font-size: 1.2em;
    padding: .1em 1em;
}

textarea {
	border-width: 0;
	width: 71.2%;
	height: 9.8vw;
	height: 7em;
	margin-right: 1.2%;
}
h2 span {
	background: white 0% 0% url(../images/resource/sub_enq.jpg) no-repeat;
}
form label {
	font: bold .8em/2 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	word-spacing: 0px;
	letter-spacing: 0px;
	margin: .1em 0;
	width: 10%;
	/*declaring width w/o height causes label to reduce vertically when clicked???*/
	height: 2.4em;
    
    box-sizing: border-box;
}
legend, form label {
	background-color: hsl(60, 40%, 55%);
	border: solid 1px white;
}

textarea, form input, form label {
	display: inline-block;
	vertical-align: text-bottom;
}

fieldset:last-child {
	border-width: 0px;
	padding: .3em 2% 0 2%;
}
.warning legend, label.warning {
	color: crimson;
	background-color: indigo;
}
textarea.warning {
	color: crimson;
    background-color: lightsalmon;
}

label.warning+input {
	color: crimson;
}

fieldset:first-child input {
	height: 2em;
    margin: .1em 0 .1em 1%;
    box-sizing: border-box;
    background-color: white;
	border-width: 0;
    padding-left: .4em;
}

form label:hover {
	background-color: #cc6;
	background-color: hsl(60, 50%, 60%);
}

form input:first-of-type, form label:first-of-type {
	margin-top: 1em;
}

/*real submit button*/
fieldset:last-child input:last-child {
	position: absolute;
	left: -999em;
}

#intro {
	margin: 2em 0 1em 0;
}

#grooms {
	width: 32%;
}
#addr1, #addr2, #addr3, #addr4 {
	width: 37.5%;
	margin: .1em 1%;
}
#email {
	width: 87%;
}
#name, #country {
	width: 48.5%;
	margin: .1em 1%;
}
#phone, #postcode {
	width: 26.5%;
}
#dogs {
	margin: 0;
	position: relative;
	width: 26.9%;
	left: 100%;
	margin-left: -100%;
	border: solid 1px white;
}
#dogs:hover {
	opacity: .9;
}

#cat {
	/* firefox 48.0.2 required this:*/
	min-height: 25.75em;
	border: solid 1px black;
	width: 100%;
	margin: 0;
    object-fit: cover;
	border-radius: 10px;
}

#response {
	background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
}

form, figure, #response>* {
	display: table-cell;
    	/*crucial*/
	vertical-align: top;
	border-radius: 10px;
	box-sizing: border-box;
}

#post figure {
	width: 20%;
}

#intro article {
	margin: 0 38% 0 0;
}

#response p {
	margin: 0;
	color: purple;
}
#cath img {
	position: absolute;
	left: -999em;
}

div#response {
    display: block;
}

#post > article > div {
	display: table;
	margin-top: .5em;
	border-spacing: 1em;
}

#response > * {
	margin: 0;
}

#response p {
	color: black;
	text-align: left;
    margin: 0;
}

#response a {
	color: royalblue;
}

#response div {
	margin: 1%;
	padding: 1%;
	border: solid 0px white;
	background-color: aliceblue;
	background-color: rgba(200, 222, 255, 1);
    width: 50%;
    box-sizing: border-box;
}

	#response em {
		font-weight: bold;
	}

#response p[class="msg"] {
	border-top: 1px dotted #444;
	margin-top: .5em;
	padding: .4em;
	font: 1em/1.5 Georgia, sans-serif;
    max-height: 250px;
    overflow: auto;
}

#intro article p {
	margin: 0 0 1.3em 0;
}

/* to prevent crazy heights if big message posted*/
#response figure img {
    height: 360px;
}
#response div h1 {
    color: crimson;
}
#response .dogs {
    width: 33%;
    border-right: solid 1px white;
}
#response .cat {
	width: 15%;
    border-left: solid 1px white; 
}

#response div p.msg {
    margin-bottom: 1em;
}

	#response p:nth-child(4) {
		background-color: white;
		border-width: 0;
		padding: .3em;
		border-radius: 8px;
	}

#response form, #response figure:first-of-type, .no-cssanimations #response .top {
		display: none;
}


/* https://matthewjamestaylor.com/blog/equal-height-columns-2-column.htm
section:nth-child(2) {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#ffa7a7;
}

#wrap {
    float:left;
	width:100%;
	position:relative;
	right:50%;
	background:#fff689;
}

#wrap form {
    float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#wrap figure {
    float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}
*/

@media only screen {
	h2 span {
		background: white 0% 0%/contain url(../images/resource/sub_enq.png) no-repeat;
	}
}
@media screen and (max-width: 888px) {

	form {
		width: 100%;
	}
    
    section article p {
		margin: 0 0 1.3em 0;
	}
    
    figure, #grooms {
		position: absolute;
		left: -999em;
	}
    
    #intro {
		margin: 2em 0 0 0;
	}
	#intro article {
		margin: 0;
	}
	
    #post div {
        display: block;
    }
    
    #post form {
        margin-top: 1em;
        display: block;
    }
}@media screen and (max-width: 667px) {
	h2, h2 span {
		background: none;
	}
    
    h3 {
	border-bottom: solid 1px white;
}
	section {
		margin: 0;
	}
	form {
		width: 100%;
		float: none;
		display: block;
		box-sizing: border-box;
	}
	textarea {
		width: 100%;
		height: 10em;
		float: none;
		box-sizing: border-box;
         margin: 0 0 1em;
	}
    
        legend {
        width: 50%;
        margin-left: 23%;
        text-align: center;
    }
    
    	article.show h3 {
		color: white;
		text-shadow: 1px 1px 1px black;
		background-color: hsl(60, 40%, 64%);
	}
	article.show h3 a {
		color: white;
		background-color: transparent;
	}
    
	figure, #grooms, #dogs {
		position: absolute;
		left: -999em;
	}
	#intro article p {
		margin: 1em 0 1.3em 0;
	}

    
    .no-js #intro .read-more-state:checked+label:before, .no-js #intro .read-more-state:first-of-type+label:before {
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: hsl(60, 40%, 64%);
}
.no-js #intro .read-more-state+label:before, .no-js #intro .read-more-state:first-of-type:checked+label:before {
	color: #993;
	text-shadow: none;
	background-color: #E7E7C7;
	background-color: hsl(60, 40%, 84%);
}
    /*
	@supports(column-gap: 20px) {
		article.show #cath {
			display: grid;
			grid-template-columns: 2fr 3fr;
			background: #cc6;
		}
		article.show #cath {
			margin-bottom: 1em;
			font-size: 1.1em;
		}
		#cath address {
			padding-left: 1em;
		}
		#cath img {
			position: relative;
			left: auto;
			margin: 0 1em 0 0;
			border-width: 0;
			width: 100%;
		}
		#cath a {
			color: white;
		}
	}
    */

	fieldset:last-child input:last-child {
		position: static;
		left: auto;
		display: block;
		margin: 0 auto;
        border-radius: 0;
	}
	.no-js section>label:nth-of-type(1):before {
		content: "Donations and sponsorship";
	}
	.no-js section>label:nth-of-type(2):before {
		content: "Holiday rates";
	}
	.no-js section>label:nth-of-type(3):before {
		content: "Contact us";
	}
	.no-js #wrap section:nth-child(2)>label:before {
		content: "Poloafrica contact form";
	}
	.no-js section:nth-child(3)>label:before {
		content: "Directions";
	}
	.no-js input~article p, .no-js #post1.read-more-state:checked~article:nth-of-type(1) p {
		position: absolute;
		left: -999em;
	}
	.no-js section:first-of-type .read-more-state:checked~article, .no-js #post1~article:nth-of-type(1) p, .no-js #post2.read-more-state:checked~article:nth-of-type(2) p, .no-js #post3.read-more-state:checked~article:nth-of-type(3) p, .no-js #post5.read-more-state:checked~article:nth-of-type(1) p, .js #wrap section article.show>* {
		position: static;
		left: 0em;
	}
	li:nth-child(8):hover ul {
		right: 9999px;
	}
    
    fieldset:first-child label, fieldset:first-child input {
		width: 98%;
		border-width: 0px;
		text-align: left;
		font: normal .875em/normal Arial, sans-serif;
        color: hsl(60, 50%, 20%);
	}
    
    fieldset:first-child label {
        text-transform: uppercase;
    }
	fieldset:first-child legend {
		display: none;
	}
    fieldset {
        border-width: 0;
    }
	fieldset:first-child label {
		background: none;
		margin: 0;
        height: 1em;
        font-weight: bold;
	}
	fieldset:first-child label:first-of-type {
		margin-top: .5em;
	}
	fieldset:first-child input {
		margin: 0;
	}
}
/*@*/

@media only screen and (max-width: 360px) {
	.override #intro h3, .override #intro label {
		line-height: 1.2;
	}
}
@media screen and (min-width: 801px) {
	#post {
		margin: 2em 0 0;
		box-sizing: border-box;
	}
}
	@media screen and (min-width: 668px) {
		#cath address {
			font-style: normal;
		}
		@supports(column-gap: 20px) {
			/*the textarea form element seems to confuse attempts at a grid layout
            The form expands if textarea is given explicit dimensions either as html attributes, or css.
            A solution is to put it in a container, but what kind of hackery is that
            So for the moment confine grid to the first four items on the page*/
			/*
        	#wrap fieldset {
        		display: -ms-grid;
        		display: grid;
        		grid-gap: 1em;
        		grid-auto-columns: repeat(11, 1fr);
        		grid-auto-rows: repeat(7, 1fr);
        	}
        	#wrap fieldset, #wrap fieldset>* {
        		margin: 0;
        	}
        	#wrap div:nth-child(1) {
        		grid-row: 1/2;
        		grid-column: 1 / 6;
        		background: red;
        		margin: 1em;
        	}
        	#wrap label {
        		grid-column: 1 / 2;
        	}
        	#wrap input {
        		grid-column: 2 / 12;
        	}
        	 */
		}
	}