/*https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari*/

@media screen and (max-width: 667px), screen and (min-width: 1024px) {
	article:nth-child(odd) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	article>* {
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	article section {
		-webkit-box-flex: 6;
		-ms-flex: 6 0 1%;
		flex: 6 1 1%;
	}
	article>img {
		-webkit-box-flex: 4;
		-ms-flex: 4 0 1%;
		flex: 4 1 1%;
		min-width: 1%;
		-ms-flex-item-align: start;
		align-self: flex-start;
		/*
        width: 68%;
        height: auto;
        float: none;
        */
	}
	article {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.flexwrap article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	@supports(flex-wrap: wrap) {
		/*consequently add some space here*/
		p:first-of-type {
			margin: 0;
		}
		article {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
		h3 {
			border-bottom: solid 1px;
		}
	}
	@media screen and (max-width: 667px) {
		.flexwrap h3 {
			border-bottom: solid 1px white;
		}
		.flexwrap p:first-of-type {
			margin: 0;
		}
		@supports(flex-wrap: wrap) {
			.override article img, .override article section {
				flex: 0 0 100%;
				width: 100%;
			}
			section {
				margin: 1em 0 0 0;
			}
			article>img {
				border-bottom: solid 1px white;
			}
		}
		.flexwrap article img, .flexwrap article section {
			flex: 0 0 100%;
			width: 100%;
		}
		.flexwrap article>img {
			border-bottom: solid 1px white;
		}
	}