/*https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari*/
@media screen and (max-width: 667px), screen and (min-width: 1024px) {
@supports(flex-wrap: wrap) {
    header {
        /*background-color: rgb(0,0,1);*/
    }
	/*border not cleared by floating image, introduce it at this point*/
	h3 {
		border-bottom: solid 1px;
	}
	/*consequently add some space here*/
	p:first-of-type {
		margin: 0;
	}
	article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	article:nth-child(odd), article:nth-child(odd) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	article>* {
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	article section {
		-webkit-box-flex: 6;
		-ms-flex: 6 0 1%;
		flex: 6 1 1%;
	}
	article>img {
		-webkit-box-flex: 4;
		-ms-flex: 4 0 1%;
		flex: 4 1 1%;
		min-width: 1%;
        width: 1%;
		align-self: flex-start;
		/* reqd: safari 6.2.8 
    width: 68%;
    float: none; */
	}
    }
}

	@media screen and (max-width: 667px) {
        @supports(flex-wrap: wrap) {
		.override article img, .override article section {
			flex: 0 0 100%;
			width: 100%;
		}
		section {
			margin: 1em 0 0 0;
		}
		article>img {
			border-bottom: solid 1px white;
		}
	}
}