/*https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari*/

/*https://stackoverflow.com/questions/36822370/flexbox-on-ie11-image-stretched-for-no-reason/36828291*/

html.js body img, html.no-js body img {
	-ms-flex-negative: 0;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
#wrap+footer {
    /*display: -webkit-box; ipod not resizing on orientation*/
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#wrap+footer #footer_girl {
	-webkit-box-flex: 13;
	-ms-flex: 13 10 5em;
	-webkit-flex: 13 10 5em;
	flex: 13 10 5em;
}
#wrap+footer #fb {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 2em;
	flex: 1 1 2em;
}
#wrap+footer>a {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 99%;
	-webkit-flex: 0 0 99%;
	flex: 0 0 99%;
}
/*
#wrap+footer {
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline;
}
*/

#wrap+footer {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap) {
#wrap+footer #footer_girl {
	margin: 0 0 .25rem 1rem;
}
#wrap+footer #fb {
	margin: 0 1em .5rem 0;
	left: 0;
    min-width: 7em;
}
#wrap+footer>a {
	margin: 0;
	padding: .75em 1% .75rem 0;
}
}
.flexwrap #wrap+footer #footer_girl {
	margin: 0 0 .25rem 1rem;
}
.flexwrap #wrap+footer #fb {
	margin: 0 1em .5rem 0;
	left: 0;
    min-width: 6em;
}
.flexwrap #wrap+footer>a {
	margin: 0;
	padding: .75em 1% .75rem 0;
}
@media only screen and (max-width: 667px), only screen and (min-width: 1024px) {
	/*FLEX ATTRIBUTES IN READINESS AND WILL BE APPLLIED IN JS/NO-JS SCENARIO*/
	/*REMEMBER override class hardcoded in HTML*/
	article:nth-child(odd) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
        -moz-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		-webkit-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	article>* {
		-ms-flex-item-align: start;
		-webkit-align-self: flex-start;
		align-self: flex-start;
	}
	article section {
		-webkit-box-flex: 6;
		-ms-flex: 6 1 1%;
		-webkit-flex: 6 1 1%;
		flex: 6 1 1%;
	}
	article>img {
		-webkit-box-flex: 4;
		-ms-flex: 4 1 1%;
		flex: 4 1 1%;
	}
	article {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	/* only bother if flex-wrap is supported, happy to fallback to floats for buggier flex implementations */
	@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap) {
		p:first-of-type {
			margin: 0;
		}
		h3 {
			border-bottom: solid 1px;
		}
		article {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
		}
	}
}
@media screen and (max-width: 667px) {
	article {
		display: block;
	}
	section {
		margin: 1em 0 0 0;
	}
	article>img, h3 {
		border-bottom: solid 1px white;
	}
	#wrap+footer #footer_girl {
		-webkit-box-flex: 5;
		-ms-flex: 5 1 5em;
		-webkit-flex: 5 1 5em;
		flex: 5 1 5em;
	}
	#wrap+footer #fb {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 2em;
		-webkit-flex: 1 1 2em;
		flex: 1 1 2em;
	}
	#wrap+footer>a {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 98%;
		-webkit-flex: 0 0 98%;
		flex: 0 0 98%;
	}
	@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap) {
		#wrap+footer>a {
			padding: .75em 2% .75em 0;
		}
	}
    .flexwrap #wrap+footer>a {
			padding: .75em 2% .75em 0;
		}
}