@font-face {
	font-family: 'Handwritten';
	src: url('../fonts/AlexBrush-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'QuestaGrande';
	src: url('../fonts/2-questa_grande_regular_31-webfont.woff2') format('woff2'), url('../fonts/2-questa_grande_regular_31-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'QuestaSans';
	src: url('../fonts/2-Questa_Sans_Regular-webfont.woff2') format('woff2'), url('../fonts/2-Questa_Sans_Regular-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'sidebar';
	src: url('../fonts/ebgaramond12-regular-webfont.eot');
	/* IE9 Compat Modes */
	src: url('../fonts/ebgaramond12-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/ebgaramond12-regular-webfont.woff') format('woff'), /* Modern Browsers */
	url('../fonts/ebgaramond12-regular-webfont.woff2') format('woff2'), url('../fonts/ebgaramond12-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/ebgaramond12-regular-webfont.svg#svgFontName') format('svg');
	/* Legacy iOS */
	font-weight: 700;
	font-style: normal;
}