
img   { padding: 17px; position: absolute; left: 16px; width: 720px; border: solid 1px #000 }
.portrait  { padding: 17px 141px; position: absolute; left: 16px; width: 472px; border: solid 1px #000 }
a:link  { padding: 17px; border-color: #ffa500 }
a:hover  { padding: 17px; border-color: #900 }
