/*https://stackoverflow.com/questions/57516373/image-stretching-in-flexbox-in-safari*/

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#medley>*, #medley article:last-child>* {
	-ms-flex-item-align: start;
	-webkit-align-self: flex-start;
	align-self: flex-start;
}
@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap) {
	#medley #presslinks, #medley article:last-child {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}
.flexwrap #medley #presslinks, .flexwrap #medley article:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@media screen and (min-width: 890px) {
	@supports(flex-wrap: wrap) {
		#place article:nth-child(2), #scholars article:nth-child(4), #scholars article:last-child, #trust article:nth-child(2), #trust article:nth-child(4) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
	}
	.flexwrap #place article:nth-child(2), .flexwrap #scholars article:nth-child(4), .flexwrap #scholars article:last-child, .flexwrap #trust article:nth-child(2), .flexwrap #trust article:nth-child(4) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
}
@media screen and (min-width: 983px) {
	@supports(flex-wrap: wrap) {
		#medley article:nth-child(2) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
		.flexwrap #medley article:nth-child(2) {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}
	}
}