.js body {
    background-color: white;
}

#photos #wrap main {
	text-align: center;
    margin: 0 auto;
}
#nav li:nth-child(3){
    *width: 118px;
}

#wrap {
    width: 832px;
}

#nav li {
    *width: 87px;
}

main ul {
    width: 754px;
}

main ul.portrait {
    width: auto;
}

article {
    clear: left;
}

main ul.gallery li {
 *width: 176px;   
}

main .gallery li.portrait, main .gallery li:nth-child(n+5) {
	*width: 113px;
}
main ul.gallery li:nth-last-child(-n+4) {
	*width: 176px;
}

#photos main > * {
    vertical-align: middle;
}

#wrap h2 {
    /*keeping this "visible" helps ie 7 otherwise margin collapses, so this IS the margin-top*/
    background-image: none;
    color: white;
    margin: 0;
	}

#wrap h2:hover {
    color: white; 
}

#photos main > a {
    *width: 2em;
    *height: 2em;
    *background: crimson;
}

#photos main li a {
    _width: auto;
    _height: auto;
    _background: none;
}

.showtime h2 {
		display: none;
}
.js #exit {
    width: 2.3em;
    height: 2.3em;
	background: url("../images/sticks_sprite_fat_lowend.png") no-repeat;
}

#controls button {
	*background-position: 50% 1%;
}

#controls button#backbutton {
	*background-position: 50% 16%;
}
#controls button#playbutton {
	*background-position: 50% 30%;
}

a:link, a:visited, a:hover, a:active, .no-touchevents a:hover h3, .no-touchevents a:active h3 {
	color: #993;
}

main > a {
    *border-width: 0px;
}

#nav li {
    *display:inline-block;
    *display: inline;
	zoom: 1;
}

main > a, main ul, #controls, #controls button, li#slide, li#paused, li#base, footer a:link{
	display:inline-block;
    *display: inline;
	zoom: 1;
}

#gal_back {
	*border-right: 2px solid crimson;
}
#gal_forward {
	*border-left: 2px solid crimson;
}

#nav li a {
    display: block;
}

header {
	background-image: url(../images/header.jpg);
}

h2 {
    background: 0% 0% url(../images/grad.jpg) no-repeat;
}
h2 span {
	padding: 0 0 0 3.5em;
    line-height: normal;
}

#footer_girl {
    *float: left;
}

#fb {
	*margin: 7.5em 1em .75em 0;
    *left: 0;
    *float: right;
}

footer > a {
    *clear: both;
}