.js body {
}
#nav li:nth-child(3){
    *width: 118px;
}

#wrap {
    width: 832px;
}

#nav li {
    *width: 87px;
}

main ul {
    width: 754px;
}

main ul.gallery li.portrait, main ul.gallery li:nth-child(n+5) {
	width: 146px;
	width: 113px;
}
main ul.gallery li:nth-last-child(-n+4) {
	width: 176px;
}

#photos main a {
    *width: 2em;
    *height: 2em;
    *background: #444;
}

#photos main li a {
    _width: auto;
    _height: auto;
    _background: none;
}

main a {
    *border-width: 0px;
}

main a, main ul, #nav li, #controls, #controls button, li#slide, li#paused, li#base{
	*display: inline;
	zoom: 1;
}
#nav li a {
    display: block;
}

header {
	background-image: url(../images/header.jpg);
}

h2 {
    padding: .2em 0 0.25em 3em;
}

#home h2 {
     background: 0% 0% url(../images/sub-polo-in-africa.jpg) no-repeat;
}

#trust h2 {
     background: 0% 0% url(../images/sub-the-trust.jpg) no-repeat;
}
#scholars h2 {
     background: 0% 0% url(../images/sub-the-scholars.jpg) no-repeat;
}
#place h2 {
     background: 0% 0% url(../images/sub-the-place.jpg) no-repeat;
}
#stay h2 {
     background: 0% 0% url(../images/sub-your-stay.jpg) no-repeat;
}
#polo h2 {
     background: 0% 0% url(../images/sub-polo.jpg) no-repeat;
}
#medley h2 {
     background: 0% 0% url(../images/sub-medley.jpg) no-repeat;
}
#enquiries h2 {
     background: 0% 0% url(../images/sub-enquiries.jpg) no-repeat;
}
