@import "flex_mod.css";
#ani {
	width: 18em;
	height: auto;
	padding: 2em;
	margin: -3em -2em 0 0;
}
.js #tween, .no-js #flower {
	display: none;
}
.no-js #tween, .js #flower {
	display: block;
}
#home #ani img {
	width: 100%;
	float: left;
	box-shadow: none;
	border-width: 0;
	margin: 0;
}
.js #home #ani img:last-child {
	margin: 0 0 0 -100%;
}
h2 span {
	background: white 0% 50% url(../images/sub_home.jpg) no-repeat;
}
@media only screen {
    
	h2 span {
		background: white 0% 0% url(../images/sub_home.png) no-repeat;
		background-size: contain;
	}
}
@media screen and (max-width: 800px) {
	#ani {
		width: 14em;
		padding: 1.6em 1.6em 0;
	}
}
@media screen and (max-width: 667px) {
    
    section {
        display: block;
    }

	h2, h2 span {
		background: none;
	}
	#ani {
		width: 9em;
		height: auto;
		margin: .5em 0 0;
		padding: .5em;
		position: absolute;
		left: -999em;
	}
	section.show #ani, .read-more-state:checked~#ani {
		position: relative;
		left: auto;
	}
	section.show #ani, .read-more-state:checked~#ani {
		position: relative;
		left: auto;
	}
	.no-js section:nth-child(1) .read-more-trigger:before {
		content: "The Poloafrica Development Trust";
	}
	.no-js section:nth-child(2) .read-more-trigger:before {
		content: "The Uitgedacht experience";
	}
	.no-js section:nth-child(3) .read-more-trigger:before {
		content: "The Poloafrica / Polo 150 tour to England";
	}
	.no-js section:nth-child(3) {
		display: block;
	}
}
@media only screen and (max-width: 540px)/*, (not(-ms-high-contrast: active)), (not (-ms-high-contrast: none)) */{
	section:last-child h3, section label {
		line-height: normal;
	}
}
@media only screen and (max-width: 410px)/*, (not(-ms-high-contrast: active)), (not (-ms-high-contrast: none)) */{
	.override section h3, section:first-child label {
		line-height: normal;
	}
}