@media screen and (min-width: 980px) {
	/* CSS Document */
}
body {
	margin: 2% 0 0;
}
html, body {
	height: 100%;
}
img {
	display: block;
}
section img.hide {
	display: none;
}
header {
	position: relative;
	width: 100%;
}
header>a {
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	display: block;
	box-sizing: border-box;
	margin: 0 0 0 1em;
	top: 2em;
	width: 55%;
	text-align: left;
	border: solid 1px lime;
}
/*
.no-js header > a {
    margin: 0 0 7em .5em;
    width: 56%;
}

.no-js #logo {
    position: absolute;
    left: -999em;
}
*/

.no-svgfilters #logo {
	position: absolute;
	left: -999em;
}
.no-svgfilters header>a {
	margin: 0 0 9em 1em;
	top: 5em;
}
#logo {
	box-sizing: border-box;
	width: 100%;
}
main {
	overflow: hidden;
	margin: .2em 0 0em;
	padding: 0 2em 10.1em;
}
section {
	margin: 3em 0 0;
}
footer {
	width: 100%;
	margin: -10.1em auto 0;
}
footer div {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
}
section input, nav input {
	cursor: pointer;
	position: absolute;
	left: -9999px;
}
section:after {
	content: "";
	display: table;
	clear: both;
}
section img {
	margin: .5em 2% 1em 0;
	float: left;
	width: 40%;
}
#nav a, #fb a {
	display: block;
}
nav li#current:hover ul, nav li#current.sfhover ul {
	left: 0;
}
section.ptrt img {
	float: right;
	width: 18%;
}
header ul {
	display: table;
	width: 100%;
}
header li {
	display: table-cell;
}
header ul ul {
	width: auto;
	position: absolute;
	left: -9999px;
}
header h1 img {
	width: 100%;
	visibility: hidden;
	display: none;
}
footer div img {
	width: 100%;
}
section:first-child {
	margin: 2em 0 0 0;
}
/* https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally */

section:nth-child(odd) img, #ani, #tween {
	margin: 0 0 1em 2em;
	float: right;
	overflow: hidden;
}
#wrap {
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
#footer_girl {
	margin: 0 0 .75em 2%;
	width: 73%;
}
#fb {
	width: 8em;
	margin: 0 0 .75em -9em;
	left: 25%;
}
#footer_girl a {
	width: auto;
	height: auto;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
#footer_girl a:first-child {
	width: 12em;
	margin: 0 -4em 0 0;
	bottom: -2em;
}
footer>a {
	display: block;
}
#home li:nth-child(1):hover ul, #trust li:nth-child(2):hover ul, #place li:nth-child(4):hover ul, #stay li:nth-child(5):hover ul, #polo li:nth-child(6):hover ul {
	left: auto;
}
#medley li:nth-child(7):hover ul, #enquiries li:nth-child(8):hover ul {
	left: auto;
	right: 0px;
}
.invisible {
	visibility: hidden;
}
@media screen and (min-width: 1281px) {
	#wrap, footer {
		max-width: 100em;
	}
}
@media screen and (max-width: 1280px) {
	body {
		margin: 0%;
	}
}
@media screen and (min-width: 1024px) {
	#wrap header>a {
		margin: 0 auto 16em;
		top: 4em;
		text-align: center;
	}
	/*
    .no-js header a h1 {
        line-height: 3.1;
    }
*/
	.no-svgfilters header>a {
		width: 25%;
		margin: 0 auto 16em;
		border: solid 1px red;
	}
	.no-svgfilters header a h1 {
		display: inline-block;
	}
}
@media screen and (min-width: 1024px) and (-ms-high-contrast: none) {
	/*Hacks to account for extra space around svg IE 10/11*/
	header>a {
		margin: 0% auto 10em;
		top: 4.4em;
	}
	#logo {
		margin: 0 0 0 -.3em;
	}
}
@media screen and (max-width: 667px) {
	body {
		margin: 2%;
	}
	.no-js path.invisible {
		visibility: visible;
	}
	.no-js path:nth-of-type(2) {
		visibility: hidden;
	}
	main {
		padding: 0 0 10.1em 0;
		margin: 0;
	}
	header>a {
		margin: 0 0 0 4.2%;
		line-height: 0;
		width: 48%;
		border: solid 1px lime;
	}
	/*
    #logo {
        margin: 0 0 -5% 0;
    }
    */
	.no-js header>a {
		width: 105%;
		margin: 0 0 -3em 5%;
		padding-bottom: 7.5em;
	}
	header h1 {
		position: absolute;
	}
	/*
    .no-objectfit #logo, .no-js #logo {
        height: 130px;
    }
    */
	/* older mobile browsers ie9 supports inline svg but not filters*/
	.no-svgfilters header a h1 {
		line-height: 4.45;
		margin-bottom: 3em;
	}
	p {
		margin: 0;
	}
	h2 {
		position: relative;
		margin: -8% 0 0 0;
		padding: 0 0 0 4%;
		font-size: 2em;
		font-size: 1.75rem;
	}
	section {
		margin: 0;
	}
	header ul {
		position: absolute;
		right: -99em;
		width: 9.5em;
	}
	section>label {
		display: block;
		width: 100%;
	}
	h2 span {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
		border: solid 1px yellow;
		width: 50%;
		padding: 0;
	}
	/*width reqd, other properties reqd in no-js scenario; */
	section img {
		/* explicitly set float to none in case browser doesn't support flex/grid*/
		float: none;
		border-radius: 0;
		box-shadow: none;
		margin: 0;
		border-width: 0;
		width: 100%;
	}
	header ul a, header ul li {
		display: block;
		/*a may not be reqd check ie*/
		line-height: 2.6;
	}
	header ul>li {
		height: 0px;
		transition: height .9s ease-out;
	}
	header input:checked+ul {
		top: 4.6em;
		top: 3.6rem;
		right: 1em;
		right: 1rem;
		z-index: 2;
		/*override display:table not really required as li's set to block*/
		display: block;
	}
	/*no need to fix advanced selectors for ie as mobile only layout*/
	header input:checked+ul>li {
		height: 2.6em;
	}
	.menu {
		position: absolute;
		top: 1em;
		top: 1rem;
		right: 1em;
		right: 1rem;
		height: 3em;
		height: 2.5rem;
		width: 3em;
		width: 2.5rem;
	}
	.no-flexwrap h2 {
		margin: -1.4em 0 0;
		margin: -2.73rem 0 0;
		padding: 0 0 0 .7em;
		padding: 0 0 0 1.2rem;
	}
	.touchevents body {
		margin: 0;
	}
	.no-flexwrap h2 span {
		width: 15rem;
	}
	article p:first-of-type, article p:last-child {
		margin: 1em 0;
	}
	section.ptrt img {
		width: 30%;
		margin: 1em 0 1em 1em;
	}
	.read-more-trigger:before, .no-js section:first-child, .no-js .read-more-state:checked~.read-more-trigger:before {
		display: block;
	}
	/*first section is shown by default?*/
	.js .read-more-state, .no-js article h3, .no-js .read-more-state~article, .no-js .read-more-state~img, .no-js section:first-child .read-more-state:checked~article, .no-js section:first-child .read-more-state:checked~img, .js article>*, header ul ul {
		position: absolute;
		top: 0px;
		left: -999em;
	}
	.no-js section:first-child .read-more-state~article, .no-js section:first-child .read-more-state~img, .no-js .read-more-state:checked~article, .read-more-state:checked~img, .js section.show article>*, .js article h3 {
		position: static;
		left: 0em;
	}
	#footer_girl a:first-child {
		width: 8em;
		margin: 0;
		visibility: hidden;
	}
	#footer_girl a {
		display: block;
	}
}
@media only screen and (max-width: 667px) and (orientation: portrait) {
	#logo {
		margin: 0;
	}
	header>a {
		margin: 0 0 0 4.2%;
		line-height: normal;
	}
	h2 {
		margin: -13% 0 0;
		padding: 1% 0 0 2%;
	}
}
@media only screen and (max-width: 568px) and (orientation: landscape) {
	h2 {
		margin: -10% 0 0;
	}
	.no-flexwrap h2 {
		margin: -2.8rem 0 0 0em;
	}
}
@media only screen and (max-width: 480px) {
	h2 {
		padding: 1% 0 0 2%;
	}
	header input:checked+ul {
		top: 4rem;
	}
	h2 span {
		width: 53%;
	}
	.menu {
		height: 3rem;
		width: 3rem;
	}
	.no-flexwrap h2 span {
		width: 15.7rem;
	}
	.no-touchevents h2 {
		line-height: 1.4;
	}
	section.ptrt img {
		width: 40%;
	}
	header>a {
		margin: 0 0 0 4.2%;
		top: 1.5em;
	}
	.no-objectfit #logo {
		border: solid 1px orange;
	}
	/*https://css-tricks.com/scale-svg/*/
	.no-objectfit header>a {
		position: relative;
		height: 0;
		padding: 0;
		width: 55%;
		/* 100% * 155/130 */
		padding-bottom: 46.12%;
		margin: 0 0 6% 2%;
	}
	.no-objectfit #logo {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
	.no-objectfit h2 {
		margin: -17% 0 0;
	}
	.no-objectfit h2 span {
		width: 55%;
	}
}
@media only screen and (max-width: 414px) {
	#wrap h2 {
		line-height: 1.6;
	}
	h2 span {
		width: 56vw;
	}
	header>a {
		width: 60%;
		margin: 0 0 0% 1%;
	}
}
@media only screen and (max-width: 400px) {
	h2 {
		font-size: 1.7em;
		font-size: 1.5rem;
	}
	h2 span {
		width: 57vw;
	}
	.no-flexwrap h2 {
		padding: 0 0 0 .3rem;
	}
	no-flexwrap h2 span {
		width: 13rem;
	}
}
@media only screen and (max-width: 340px) {
	h2 span {
		width: 60vw;
	}
	h2 {
		margin: -14% 0 0;
	}
}
@media only screen and (max-width: 320px) {
	h2 span {
		width: 64%;
		width: 65% !important;
	}
	header>a {
		margin: 0 0 0 3%;
		top: 1.3em;
	}
	.menu {
		height: 2rem;
		width: 2rem;
	}
	header input:checked+ul {
		top: 3rem;
	}
	.no-objectfit #logo {
		border: solid 1px orange;
	}
	/*https://css-tricks.com/scale-svg/*/
	.no-objectfit header>a {
		width: 62%;
		/* 100% * 155/130 */
		padding-bottom: 52%;
		margin: 0 0 6% 3%;
	}
	.no-objectfit h2 {
		margin: -19% 0 0;
	}
	.no-objectfit h2 span {
		width: 55%;
	}
}
@media only screen and (max-width: 280px) {
	h2 {
		font-size: 1.5em;
	}
}
@media only screen and (-ms-high-contrast: none) {
	.touchevents footer {
		background: url(../images/resource/sil_bg.png) no-repeat top center;
		background-size: cover;
		padding: 7em 0 0 0;
	}
}
/*remove border's above when in production*/

header>a, h2 span, .no-objectfit #logo {
	border-width: 0px;
}