@media screen and (max-width: 667px) {
	body {
		margin: 2%;
	}
	p {
		margin: 0;
	}
	h2 {
		position: relative;
		margin: -1.7em 0 0 0;
		margin: -3.4rem 0 0 0;
		padding: 0 0 0 .9em;
		padding: 0 0 0 1.6rem;
		padding: 0 0 0 1rem;
		font-size: 2em;
		font-size: 2rem;
		line-height: 1.6;
	}
	main {
		padding: 0 0 10.1em 0;
		margin: 0;
	}
	h2 span {
		text-align: center;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
		min-width: 255px;
	}
	header>a, h2 span {
		width: 9.1em;
		width: 20rem;
	}
	header>a {
		margin: 0 0 0 1.75em;
		top: 2em;
		min-width: 255px;
	}
	section, section img, .touchevents body {
		margin: 0;
	}
	header ul {
		position: absolute;
		right: -9999px;
		width: 9.142em;
		/* 1.143*/
		width: 8rem;
	}
	section>label {
		display: block;
		width: 100%;
	}
	/*width reqd, other properties reqd in no-js scenario; */
	section img {
		/* explicitly set float to none in case browser doesn't support flex/grid*/
		float: none;
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		width: 100%;
	}
	header ul a, header ul li {
		display: block;
		/*a may not be reqd check ie*/
	}
	header ul>li {
		height: 0px;
		line-height: 2.4;
		transition: height .9s ease-out;
	}
	#main_nav {
		/*so that menu is relative to header*/
		position: static;
	}
	.menu {
		position: absolute;
		top: 1.143em;
		top: 1rem;
		right: 1.143em;
		right: 1rem;
		height: 2.971em;
		height: 2.5rem;
		width: 2.857em;
		width: 2.5rem;
	}
	.read-more-trigger:before {
		display: block;
	}
	.touchevents article p {
		padding: 0 1em;
		padding: 0 1rem;
	}
	/*firefox doesn't recognize the class of .no-js on the html, so we add it to the svg document and remove when JS enabled*/
	.no-js .invisible {
		visibility: visible;
	}
	.no-js path:nth-of-type(2) {
		visibility: hidden;
	}
	header input:checked+ul {
		top: 4.5em;
		top: 3.6rem;
		top: calc(3.6rem + (16) * (100vw - 320px) / (667 - 320));
		right: 1.143em;
		right: 1rem;
		z-index: 2;
		opacity: .95;
		/*override display:table not really required as li's set to block*/
		display: block;
	}
	/*no need to fix advanced selectors for ie as mobile only layout*/
	header input:checked+ul>li {
		height: 2.286em;
		height: 2rem;
	}
	article p:first-of-type, article p:last-child {
		margin: .8rem 0;
	}
	section.ptrt img {
		margin: 1rem 0 1rem 1rem;
	}
	/* older mobile browsers ie9 supports inline svg but not filters*/
	.no-inlinesvg header a h1, .no-js header a h1 {
		margin-bottom: 3em;
	}
	.objectfit .menu {
		width: 7.4vw;
		height: 7.4vw;
		width: calc(36px + (16) * (100vw - 320px) / (667 - 320));
		height: calc(36px + (16) * (100vw - 320px) / (667 - 320));
	}
	/*first section is shown by default?*/
	/*in no-js img, "labels" and articles are siblings in js all other elements are children of article*/
	header ul ul, .no-js h3, .read-more-state~article, .read-more-state~img, section:first-child .read-more-state:checked~article, section:first-child .read-more-state:checked~img, .js article>* {
		position: absolute;
		top: 0;
		left: -999em;
	}
	.js h3, section:first-child .read-more-state~article, section:first-child .read-more-state~img, .read-more-state:checked~article, .read-more-state:checked~img, section.show article>* {
		position: static;
		left: 0;
	}
	.inlinesvg.svgfilters header>a {
		padding: 0;
	}
	/*
     .inlinesvg.svgfilters header h1 {
        margin-top: -3em;
    }
    */
	#logo {
		margin: 0 0 -1.5rem 0;
	}
	#footer_girl a:first-child {
		width: 8em;
		margin: 0;
		visibility: hidden;
	}
	#footer_girl a {
		display: block;
	}
	header>a, h2 span {
		/*255px corresponds to min-width of header > a */
		width: calc(255px + (100) * (100vw - 280px) / (667 - 280));
	}
	.js header {
		background-size: calc(500% - (1900) * (100vw - 281px) / (667 - 280));
	}
	h3, section>label {
		font-size: calc(1.4em + (8) * (100vw - 281px) / (667 - 280));
	}
	.js h2 {
		font-size: calc(2.2em + (10) * (100vw - 281px) / (667 - 280));
		margin: 0;
		margin-top: calc(-1.5em + (2) * (100vw - 281px) / (667 - 280));
        line-height: 1.5;
	}
	.js h2 {
		padding: 0;
		padding-left: .64em;
		padding-left: 1rem;
	}
	.no-objectfit #wrap header>a {
		position: relative;
		height: 1px;
		padding: 0;
		padding-bottom: 50%;
	}
	.no-objectfit #logo {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 1em;
	}
}
@media only screen and (-ms-high-contrast: none) {
	.touchevents footer {
		background: url(../images/resource/sil_bg.png) no-repeat top center;
		background-size: cover;
		padding: 7em 0 0 0;
	}
}
/*remove border's above when in production*/

header>a, h2 span, .no-objectfit #logo {
	border-width: 0px;
}
#logo, h2 span, header>a {
	border: solid 0px red;
}
h2 span {
	border-color: blue;
}