body {
	margin: 2% 0 0;
}
html, body {
	height: 100%;
}
img {
	display: block;
}
header {
	position: relative;
	width: 100%;
}
main {
	overflow: hidden;
	margin: .2em 0 0em;
	padding: 0 2em 10.1em;
}
section {
	margin: 3em 0 0;
}
footer {
	width: 100%;
	margin: -10.1em auto 0;
}
header>a {
	overflow: hidden;
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 56%;
	margin: 0 0 9em 1em;
	top: 5em;
	min-width: 40em;
}

footer div {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
}
section input, nav input {
	cursor: pointer;
	position: absolute;
	left: -9999px;
}
section:after {
	content: "";
	display: table;
	clear: both;
}
section img {
	margin: .5em 2% 1em 0;
	float: left;
	width: 40%;
}

header ul {
	display: table;
	width: 100%;
}
header li {
	display: table-cell;
}
footer>a {
	display: block;
}
header ul ul, section img.hide, .no-inlinesvg #logo, .no-svgfilters #logo, .no-js #logo {
	width: auto;
	position: absolute;
	left: -9999px;
}
footer div img {
	width: 100%;
}
.invisible {
	visibility: hidden;
}
section:first-child {
	margin: 2em 0 0 0;
}

section.ptrt img {
	float: right;
	width: 18%;
}
/* no js svg support
.icon {
	background-color: pink;
	background-repeat: no-repeat;
	background-image: url(../images/resource/instagram.png);
	display: block;
	background-size: contain;
	height: auto;
	padding-bottom: 30%;
	width: 100%;
}
svg~.icon {
	background-image: url(../images/resource/insta_text.svg);
}
.support-svg {
	position: absolute;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	width: 1px;
}
*/
.inlinesvg.svgfilters header>a {
	margin: 0 0 0 1rem;
	top: 0;
}

nav li.current:hover ul, nav li.current.sfhover ul {
	left: 0;
}
section:nth-child(odd) img {
	margin: 0 0 1em 2em;
	float: right;
	overflow: hidden;
}
#ani, #tween {
	margin: 0 0 1em 2em;
	float: right;
	overflow: hidden;
}
#wrap {
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
#main_nav {
	position: relative;
	/*stacking*/
}
#footer_girl {
	margin: 0 0 .75em 2%;
	width: 73%;
}
#fb {
	width: 8em;
	margin: 0 0 .75em -9em;
	left: 25%;
}
#logo {
	box-sizing: border-box;
	width: 100%;
}
#footer_girl a {
	width: auto;
	height: auto;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
#nav a, #fb a {
	display: block;
}

#footer_girl a:first-child {
	width: 12em;
	margin: 0 -4em 0 0;
	bottom: -2em;
}
#home li:nth-child(1):hover ul, #trust li:nth-child(2):hover ul, #place li:nth-child(4):hover ul, #stay li:nth-child(5):hover ul, #polo li:nth-child(6):hover ul {
	left: auto;
}
#medley li:nth-child(7):hover ul, #enquiries li:nth-child(8):hover ul {
	left: auto;
	right: 0px;
}
@media only screen and (-ms-high-contrast: none) {
	/*https://css-tricks.com/scale-svg/*/
	.inlinesvg.svgfilters #logo {
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 3em;
	}
	.inlinesvg.svgfilters header>a {
		position: relative;
		height: 1px;
		padding: 0;
		padding-bottom: 13.371em;
		margin: 0 0 0 1rem;
	}
}
@media only screen and (min-width: 1281px) {
	#wrap, footer {
		max-width: 100em;
	}
}
@media only screen and (max-width: 1280px) {
	body {
		margin: 0%;
	}
}

@media only screen and (min-width: 668px) {
    
.no-js header a {
	top: 4em;
}
}
@media only screen and (min-width: 668px) and (max-width: 1280px) {
	.inlinesvg.svgfilters header a h1 {
		line-height: calc(1em + (40) * (100vw - 667px) / (1280 - 667));
	}
	.inlinesvg.svgfilters header a {
		top: calc(2em - (32) * (100vw - 667px) / (1280 - 667));
	}
}
@media only screen and (min-width: 1024px) {
	.inlinesvg.svgfilters header>a {
		width: 100%;
		margin: 0 auto 16em;
	}
	.inlinesvg.svgfilters header {
		background-size: cover;
	}
	.inlinesvg.svgfilters header>a {
		width: 56%;
		margin: 0 auto 9em;
	}
}