#presslinks nav ul {
	line-height: 1.3;
	text-indent: -.8em;
	padding: 0 0 0 1em;
}

.js #presslinks nav ul {
	text-indent: -1.7em;
	padding: 0 0 0 1.7em;
}


no-touchevents.background-size #presslinks nav ul {
	text-indent: 0;
	padding: 0;
}
#presslinks nav ul li {
	margin: .75em 0;
}
#presslinks article img {
	margin-right: 2%;
}
#presslinks article, #medley_links article {
	margin: 0 0 0 0%;
}
#medley_links nav ul {
	text-indent: -.8em;
	padding: 0 0 0 1em;
	line-height: 1.2;
}
#medley_links nav li::before, #presslinks nav li::before {
	content: '» ';
}

.no-touchevents.backgroundsize #presslinks nav li::before {
	content: '';
    display: inline-block;
    position: relative;
    top: .5em;
    width: 1.2em;
    height: 1.5em;
    margin-right: .5em;
    background: url(../images/resource/pdf_sq.png) no-repeat center;
    background-size: 140%;
}
.no-touchevents.backgroundsize #presslinks nav li:first-child::before {
    background-image: url(../images/resource/prne.png);
    background-size: cover;
}
.no-touchevents.backgroundsize #presslinks nav li:nth-child(4)::before {
    background-image: url(../images/resource/laureus.png);
    background-size: cover;
}

.no-touchevents.backgroundsize #presslinks nav li:nth-child(6)::before {
    background-image: url(../images/resource/bd-logo.png);
    background-size: contain;
}

.no-touchevents.backgroundsize #presslinks nav li:nth-child(7)::before {
    background-image: url(../images/resource/poloplus.png);
     background-size: contain;
}
.no-touchevents.backgroundsize #presslinks nav li:nth-child(8)::before {
    background-image: url(../images/resource/p5.jpg);
    background-size: cover;
}

/*
.no-touchevents.backgroundsize #presslinks nav li:first-child::before,  .no-touchevents.backgroundsize #presslinks nav li:nth-child(4)::before, .no-touchevents.backgroundsize #presslinks nav li:nth-child(6)::before, .no-touchevents.backgroundsize #presslinks nav li:nth-child(7)::before, .no-touchevents.backgroundsize #presslinks nav li:nth-child(8)::before {
	background: url(../images/resource/pointer.png);
	background: none;
    content: '» ';
}

.no-touchevents.backgroundsize #presslinks nav li:nth-child(12)::before {
	background: url("../images/resource/plain.png");
    background: none;
    content: '»  ';
}
*/

#presslinks p, #medley_links p {
	line-height: 1.3;
}
#presslinks nav ul li a {
	border: solid 1px;
	border-width: 0 0 1px 0;
}
#medley_links nav {
	margin: 0 0 1em 0;
}
#medley_links nav ul {
	padding: 0em 0 0em 1em;
	line-height: 1;
}
#medley_links p {
	text-align: left;
}
#medley_links nav li {
	margin: .5em 0;
}
#PoloGirls, #arena_boy {
	width: 27%;
	float: left;
}
.no-flexwrap #arena_boy {
	width: 15%;
}
#tvcoverage iframe, #tvcoverage video {
	width: 320px;
	height: 180px;
	margin: 0 0 0 1em;
	display: block;
	float: right;
	clear: both;
}
#tvcoverage article {
	/*fix float*/
	overflow: hidden;
	margin: 0 0 1.5em 0;
	padding: 0 0 1.5em 0;
	border-bottom: dotted 1px #444;
}
#tvcoverage article:last-child {
	margin: 0;
	padding: 0;
	border-width: 0;
}
#tvcoverage p {
	margin: 0 0 1em 0;
}
#tvcoverage p:last-child {
	margin: 0;
}
.view::after {
	content: "on the right";
}
#tvcoverage>a {
	width: 100%;
}
/*top level links a are set to white for current page. To save having to repeat #nav or similar:
#medley #nav li:nth-child(7) we use #presslinks HERE to override (so can do this #medley li:nth-child(7))
was only effecting the 7th child as in #medley li:nth-child(7), which can also refer to the presslinks ul*/

#presslinks li:nth-child(odd) a, #presslinks li:nth-child(odd) a:link, #medley_links ul li:nth-child(odd) a:link {
	color: #900;
}
#presslinks li:nth-child(odd) a:hover, #medley_links ul li:nth-child(odd) a:hover {
	color: #306;
}
h2 span {
	background: white 0% 0% url(../images/resource/sub_medley.jpg) no-repeat;
}
@media only screen {
	h2 span {
		background: white 0% 0% url(../images/resource/sub_medley.png) no-repeat;
		background-size: contain;
	}
}
@media screen and (max-width: 667px) {
	h2, h2 span {
		background: none;
	}
	section nav ul {
		padding: 0 0 1em 1em;
	}
	.no-js section:nth-child(1) .read-more-trigger:before {
		content: "Laureus";
	}
	.no-js section:nth-child(2) .read-more-trigger:before {
		content: "Community";
	}
	.no-js section:nth-child(3) .read-more-trigger:before {
		content: "Beekeeping";
	}
	.no-js section:nth-child(4) .read-more-trigger:before {
		content: "Activities on the farm";
	}
	.no-js section:nth-child(5) .read-more-trigger:before {
		content: "Activities around the farm";
	}
	.no-js #presslinks .read-more-trigger:before {
		content: "Press Coverage";
	}
	.no-js section:nth-child(7) .read-more-trigger:before {
		content: "TV and video coverage";
	}
	.no-js #medley_links .read-more-trigger:before {
		content: "Links";
	}
	.no-js #presslinks article {
		margin: 0 0 0 30%;
	}
	.js #presslinks article, .js #medley_links article {
		margin: 0;
	}
	.override #presslinks article>p {
		text-align: left;
	}
	.override #medley_links article>a {
		margin: 0 0 1em 0;
	}
	.js #medley #medley_links p {
		margin: 1em;
	}
	.js #presslinks p {
		margin: 1em 0 0;
	}
	#PoloGirls, #arena_boy {
		float: right;
		margin: 1em 0 0 1em;
	}
	#arena_boy {
		width: 27%;
	}
	.js #medley #presslinks nav, .js #medley #medley_links nav {
		margin: 1em 0 0;
	}
	#presslinks article img {
		margin: 1em 0 1em 1em;
	}
	#tvcoverage p:first-of-type {
		margin: 1em 0;
	}
	#tvcoverage iframe:first-of-type {
		margin: 1em 0 3em 1em;
	}
	.view::after {
		content: "above";
	}
	p:first-of-type {
		margin: 1em 0;
	}
	#tvcoverage iframe, #tvcoverage video {
		margin: 0 auto;
		width: 92vw;
		height: 51.625vw;
		float: none;
	}
	#tvcoverage iframe:first-of-type {
		margin: 1em auto;
	}
	#tvcoverage article {
		margin: 0;
		padding: 0;
		border-width: 0;
	}
	#tvcoverage article p:last-child {
		margin: 0 0 1em;
	}
}
@media only screen and (max-width: 568px) {
	#PoloGirls {
		display: none;
	}
.no-cssgrid #tvcoverage {
	/*if not grid, block, NOT flex*/
	display: block;
}
#presslinks img {
	-webkit-box-flex: 2;
	-ms-flex: 2 1 1%;
	-webkit-flex: 2 1 1%;
	flex: 2 1 1%;
}
#medley_links img {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 1%;
	-webkit-flex: 1 1 1%;
	flex: 1 1 1%;
}
#tvcoverage p {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/4;
	min-width: 0;
}
#tvcoverage p:last-of-type {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
}
#tvcoverage article>*:first-child {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 1/6;
	grid-column: 4/6;
}
#tvcoverage #naledi>a {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/6;
	-ms-grid-row: 1;
	grid-row: 1/1;
}
#tvcoverage #naledi p:last-of-type {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/4;
}
#naledi>*:nth-child(2) {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	grid-column: 4/6;
}
/*
.flexbox #presslinks article, .flexboxtweener #presslinks article, .flexboxlegacy #presslinks article, .flexbox #medley_links article, .flexboxtweener #medley_links article, .flexboxlegacy #medley_links article {
	margin-left: 2%;
	float: right;
}
*/

@supports((-moz-column-gap: 20px) or (column-gap: 20px)) {
	.override #tvcoverage {
		display: -ms-grid;
		display: grid;
	}
	.override #tvcoverage article {
		display: -ms-grid;
		display: grid;
	}
}
.cssgrid #tvcoverage {
	display: -ms-grid;
	display: grid;
}
.cssgrid #tvcoverage article {
	display: -ms-grid;
	display: grid;
}
.no-cssgrid #tvcoverage {
	display: block;
}
no-cssgrid #tvcoverage article {
	display: block;
}
/* @media only screen and (max-width: 410px), (not(-ms-high-contrast: active)), (not (-ms-high-contrast: none)) {
  		section h3, section:first-child label {
  		line-height: 1;
  	}
  }
*/

@media screen and (max-width: 667px) {
	section {
		display: block;
	}
	.no-js #presslinks article, .no-js #medley .override #medley_links article {
		margin: 0 0 0 2%;
		-webkit-box-flex: 5;
		-ms-flex: 5 0 1%;
		flex: 5 0 1%
	}
	#medley .override #presslinks, .override #presslinks article, #medley .override #medley_links, #medley .override #medley_links article, #wrap .override #tvcoverage, #wrap .override #tvcoverage article {
		display: block;
		float: none;
		margin: 0;
	}
	.flexbox #presslinks article, .flexboxtweener #presslinks article, .flexboxlegacy #presslinks article, .flexbox #medley_links article, .flexboxtweener #medley_links article, .flexboxlegacy #medley_links article {
		margin-left: 0;
	}
}
@media screen and (min-width: 668px) {
	.flexwrap #tvcoverage h3 {
		width: 100%;
	}
	@supports(column-gap: 20px) {
		.override #tvcoverage article iframe, .override #tvcoverage article video {
			width: 40vw;
			height: 22.5vw;
		}
	}
	.css-grid #tvcoverage article iframe, .css-grid #tvcoverage article video {
		width: 40vw;
		height: 22.5vw;
	}
}
@media only screen and (-ms-high-contrast: none) {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	#presslinks>img, #medley_links img {
		-webkit-box-flex: 1;
		-ms-flex: 2 1 5em;
		flex: 2 1 5em;
		-ms-flex-item-align: start;
		align-self: flex-start;
		float: none;
		height: 100%;
	}
}
}
@media screen and (max-width: 480px) {
	#wrap #medley_links p {
		margin: 0;
		padding: .5em;
		background-color: #444
	}
	#wrap #medley_links p {
		color: white;
	}
	#arena_boy {
		border: solid 1px white;
		margin: 1em 0 .5em 0;
	}
}
@media only screen and (max-width: 360px) {
	.override section:nth-child(5) h3, .override section:nth-child(5) label {
		line-height: 1.2;
	}
	#arena_boy {
		display: none;
	}
}
@media screen and (min-width: 668px) {
	/*
	#tvcoverage h3 {
		width: 67%;
	}
    */
}