/*essentially fixes display on actual ipod 4 no-object fit assumes no support for nested calc which seems to be introduced around the same time*/
@media only screen and (max-width: 480px) {
	header>a, h2 span {
		min-width: 100px;
	}
	.no-objectfit #wrap header>a, .no-objectfit #wrap h2 span {
		width: 22rem;
		margin: 0;
	}
	.no-objectfit #wrap h2 {
		padding: 0;
	}
	.no-objectfit h2 {
		margin: -3.7rem 0 0 0;
	}
	.no-objectfit header input:checked+ul {
		top: 4rem;
	}
	.no-objectfit .menu {
		height: 3rem;
		width: 3rem;
	}
	.no-touchevents h2 {
		line-height: 1.4;
	}
	.no-objectfit header {
		background-size: 250%;
	}
	
	.no-objectfit h2 {
		margin: -3rem 0 0;
	}
}
@media only screen and (max-width: 320px) and (orientation: portrait) {
	.no-objectfit #wrap header>a, .no-objectfit #wrap h2 span {
		width: 15rem;
		margin: 0;
	}
	.no-objectfit #wrap header>a {
		padding-bottom: 60%;
	}
	.no-objectfit #wrap h2 {
		font-size: 1.75rem;
		margin: -3rem 0 0 0;
	}
    .no-objectfit header {
		background-position: 70% 0;
		background-size: 360%;
	}
}