.photos img {
	width: 100%;
}
figcaption label:first-child:after {
	content: 'delete';
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@supports(display:flex) {
	.mocklabel+.asset {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: -2em 0 1em 17%;
	}
	.asset figure {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 15%;
		flex: 1 1 15%;
	}
	.asset figure:first-child {
		margin: 0;
	}
}
.flexbox .asset, .flexboxlegacy .asset, .flexboxtweener .asset {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: -2em 0 1em 17%;
}
.flexbox .asset figure, .flexboxlegacy .asset figure, .flexboxtweener .asset figure {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 15%;
	flex: 1 1 15%;
}
.flexbox .asset figure:first-child, .flexboxlegacy .asset figure:first-child, .flexboxtweener .asset figure:first-child {
	margin: 0;
}
/* MEEJA QUERIES */

@media only screen and (max-width: 1100px) {
	figcaption label:first-child:after {
		content: 'del:';
	}
	@supports(column-gap: 20px) {
		li.mock li.neue {
			display: grid;
			grid-template-columns: repeat(2, 1fr 3fr) 2fr 4fr;
			grid-template-rows: repeat(2, 1fr);
			grid-gap: .5em;
		}
		li.mock li.upload {
			grid-template-columns: repeat(2, 1fr 3fr) 2fr 4fr;
			grid-template-rows: repeat(2, 1fr);
		}
		li.mock li.upload>*:nth-child(1) {
			grid-column: 1 / span 6;
		}
		li.mock li.neue {
			margin: -2em 0 0 17%;
		}
		li.mock li.neue>* {
			width: 100% !important;
		}
		.neue>*:nth-child(7) {
			grid-row-start: 2;
		}
		li.mock li.neue select {
			grid-column: 2 / span 3;
		}
		.upload>*:nth-child(5) {
			grid-column: 4 / span 3;
		}
	}
}
@media only screen and (max-width: 736px) {
	/*
	.mock .mocklabel, .mock .asset, .mock .neue, .content #editList>li>* {
		width: 100%;
	}
    .edit-content ul, .content .edit-content>textarea, .content .buttons, .nojs {
        margin: 0 0 2% 0%;
        width: 100%;
    }
	.content>ul>li>label, .mock .mocklabel {
		text-align: left;
		border-width: 0;
		background: none;
		box-shadow: none;
		padding: .3em .2em;
	}
	.edit-content ul, .edit-content textarea .content .buttons {
		margin-left: 0;
		width: 100%;
	}

	.content>ul .pp {
		margin: .25em 0 0;
		width: 100%;
	}
    */
	@supports(column-gap: 20px) {
		li.mock li.neue {
			margin: 0;
		}
	}
}
@media only screen and (max-width: 667px) {
	@supports(column-gap: 20px) {
		li.mock li.neue {
			grid-template-rows: repeat(3, 1fr);
			grid-template-columns: repeat(2, 1fr 4fr);
		}
		li.mock li.upload {
			grid-template-rows: repeat(2, 1fr);
			grid-template-columns: 1fr 3fr 3fr 6fr;
		}
		.neue>*:nth-child(n+5) {
			grid-row-start: 2;
		}
		.neue>*:nth-child(n+7) {
			grid-row-start: 3;
		}
		.neue>*:nth-child(6) {
			grid-column: 2 / span 3;
		}
	}
	fieldset.buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-align: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	fieldset.buttons>input {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 1%;
		flex: 1 1 1%;
		margin: .25em;
	}
}