.photos img {
	width: 100%;
}
figcaption label:first-child:after {
	content: 'delete';
}
.flexwrap .upload {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -2em 0 1em 17%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.flexwrap .upload p, .flexwrap #details .neue p {
	margin: .25em;
	flex: 2 1 5em;
	display: flex;
	align-items: center;
}
.flexwrap #details .neue {
	display: flex;
	align-items: center;
	margin: -2em .25em .25em 17%;
}
.flexwrap .upload p:first-of-type {
	flex: 4 1 3em;
}
.flexwrap .upload p:last-child {
	flex: 3 1 3em;
}
.flexwrap .upload p input {
	flex: 5 1 3em;
	margin: 0 .25em;
}
.flexwrap .upload p:last-child input:last-child {
	min-width: 3em;
}
.flexwrap #details .neue p {
	flex: 1 1 10em;
}
.flexwrap #details .neue p input {
	flex: 2 1 5em;
}
/*
.flexwrap .upload label {
	margin: 0 .25em;
}
.flexwrap .upload input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 1em;
	flex: 1 1 1em;
	margin: 0 .25em;
}
.flexwrap #asset {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}
.flexwrap #alt {
	-webkit-box-flex: 9;
	-ms-flex: 9 1 5em;
	flex: 9 1 5em;
}
.flexwrap #dom_id {
	-webkit-box-flex: 3;
	-ms-flex: 3 1 2em;
	flex: 3 1 2em;
	margin: 0 .5em 0 0;
}
.flexwrap label[for=dom_id] {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 1em;
	flex: 0 0 1em;
}
*/

.flexwrap #dom_id, .flexwrap #alt {
	width: auto;
}
/* MEEJA QUERIES */

@media only screen and (max-width: 1200px) {
	.flexwrap #details .neue p {
		flex-wrap: wrap;
	}
	.flexwrap #details .neue {
		align-items: flex-start;
	}
	.flexwrap #details .neue p label {
		flex: 2 1 100%;
		text-align: left;
		margin: 0 0 .25em;
	}
}
@media only screen and (max-width: 1100px) {
	figcaption label:first-child:after {
		content: 'del:';
	}
}
@media only screen and (max-width: 960px) {
	.flexwrap .upload p:first-of-type {
		flex: 4 1 100%;
	}
	.flexwrap .upload p:last-child {
		flex: 3 1 3em;
	}
	.flexwrap #details .neue {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.flexwrap #details .neue p:last-child {
		flex: 1 0 auto;
	}
}
@media only screen and (max-width: 736px) {
	.flexwrap .upload {
		margin: 0 0 1em 0;
	}
	.flexwrap #details .neue {
		margin: 0 .25em;
	}
}
@media only screen and (max-width: 667px) {}
@media only screen and (max-width: 479px) {
	.flexwrap .upload p:nth-child(3) {
		flex: 5 1 100%;
	}
}
@media only screen and (max-width: 375px) {
	.flexwrap #details .neue p {
		flex: 1 1 100%;
	}
	.flexwrap #details .neue p label {
		flex: 1 1 1em;
	}
	.flexwrap #details .neue p input, .flexwrap #details .neue p select {
		flex: 5 1 10em;
		margin: 0 0 0 .25em;
	}
}
