@import "flex_mod.css";
@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	#contactarea {
		display: -webkit-box;
		display: -ms-flexbox;
        display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		align-content: flex-end;
	}
    
    #contactarea h3 {
		flex: 1 1 100%;
	}
	#contactarea figure {
		flex: 6 1 1%;
		align-self: flex-start;
	}
	#contactarea form {
		flex: 17 1 1%;
	}
	form input {
		position: static;
		left: 0;
	}
}
@media screen and (max-width: 823px) {
	@supports(column-gap: 20px) {
		#intro article, #response {
			grid-column: 1 / 20;
		}
		.override section p {
			margin: 0 0 1.3em 0;
		}
		section:first-child h3 {
			width: 100%;
		}
	}
	#contactarea {
		display: block;
	}
	
	/*TRIED flex-wrapping in fieldset: https://stackoverflow.com/questions/46472136/fieldset-as-flex-container-not-working-in-google-chrome*/
}
@media screen and (max-width: 504px) {
	textarea {
		width: 100%;
	}
	#contactarea form fieldset:first-child label, #contactarea form fieldset:first-child input {
		width: 98%;
		box-sizing: border-box;
		border-width: 0px;
		text-align: left;
		font: normal .875em/normal Arial, sans-serif;
	}
	#contactarea form fieldset:first-child legend {
		background: none;
	}
	#contactarea form fieldset:first-child label {
		background: none;
		margin: 0;
	}
	#contactarea form fieldset:first-child label:first-of-type {
		margin-top: .5em;
	}
	#contactarea form fieldset:first-child input {
		margin: 0;
	}
}
@media screen and (max-width: 667px) {
	section {
		display: block;
	}
}
@media screen and (min-width: 824px) {
	@supports(column-gap: 20px) {
		#wrap #intro label {
			position: absolute;
			left: -999em;
		}
		section {
			margin: 0em 0 0;
		}
		/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
		#wrap #intro {
			display: -ms-grid;
			display: grid;
			grid-template-columns: repeat(19, 1fr);
			grid-gap: 0em;
		}
		#wrap #intro>* {
			width: 100%;
		}
		#intro article {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 1;
			-ms-grid-column-span: 4;
			grid-column: 1 / 11;
		}
		#grooms {
			-ms-grid-row: 1;
			-ms-grid-row-span: 3;
			grid-row: 1 / 4;
			margin: 0;
			-ms-grid-column: 5;
			-ms-grid-column-span: 3;
			grid-column: 12/20;
		}
		#contactarea {
			display: -ms-grid;
			display: grid;
			grid-template-columns: repeat(9, 1fr);
			grid-gap: 1em;
		}
		#enquiries section:nth-child(2) article>* {
			width: 100%;
		}
		#contactarea>h3, #response {
			grid-column: 1/10;
		}
		#contactarea form {
			grid-column: 1/8;
		}
		#contactarea figure {
			grid-column: 8/10;
		}
		#contactarea figure {
			align-self: stretch;
		}
		
	}
}