@import "flex.css";
@supports(flex-wrap: wrap) {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	#contactarea {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
        flex-wrap: wrap;
	}

	#contactarea figure {
		flex: 6 1 1%;
		align-self: flex-start;
	}
	#contactarea form {
		flex: 17 1 1%
	}
	form input {
		position: static;
		left: 0;
	}
	fieldset:last-child{
		border-width: 0;
		padding: .5em 2% 0 0;
		display: flex;
	}
	textarea {
		flex: 3 1 1%;
        margin: 0 1em 0 0;
	}
	#wrap #contactarea form input#dogs {
        width: auto;
		flex: 1 1 1%;
		margin-top: 0;
	}
}


/*wrap*/
@media screen and (min-width: 737px) {

	@supports(column-gap: 20px) {
		#wrap #intro label {
			position: absolute;
			left: -999em;
		}
		article {
			margin: 0em 0 0;
		}
		article:first-child h3 {
			width: 95%;
		}
		#contact_form {
            flex: 0 0 100%;

		}
		/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
		#wrap #intro {
			display: -ms-grid;
			display: grid;
            grid-template-columns: repeat(15, 1fr);
            grid-gap: 0em;  
		}
		#wrap #intro>* {
			width: 100%;
		}
		#intro section {
			-ms-grid-row: 1;
			-ms-grid-row-span: 2;
			-ms-grid-column: 1;
			-ms-grid-column-span: 4;
			grid-column: 1 / 10;
		}
  
		#grooms {
			-ms-grid-row: 1;
			-ms-grid-row-span: 3;
			grid-row: 1 / 4;
			margin: 0;
			-ms-grid-column: 5;
			-ms-grid-column-span: 3;
			grid-column: 10/ 16;
		}
	}
}
