@import "flex.css";
@import "fullflex.css";
.no-cssgrid #tvcoverage {
	/*if not grid, block, NOT flex*/
	display: block;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

#tvcoverage p {
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
	grid-row: 1/3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 1;
	grid-column: 1/4;
	min-width: 0;
}
#tvcoverage p:last-of-type {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 3/4;
}
#tvcoverage section>*:first-child {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 1/6;
	grid-column: 4/6;
}
#tvcoverage #naledi>a {
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1/6;
	-ms-grid-row: 1;
	grid-row: 1/1;
}
#tvcoverage #naledi p:last-of-type {
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/4;
}
#naledi>*:nth-child(2) {
	-ms-grid-column: 2;
	-ms-grid-column-span: 1;
	-ms-grid-row: 2;
	-ms-grid-row-span: 1;
	grid-row: 2/3;
	grid-column: 4/6;
}
.flexbox #presslinks section, .flexboxtweener #presslinks section, .flexboxlegacy #presslinks section, .flexbox article:last-child section, .flexboxtweener article:last-child section, .flexboxlegacy article:last-child section {
	margin-left: 2%;
	float: right;
}
#presslinks>img, article:last-child img {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 1%;
	flex: 2 1 1%;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
#presslinks section img {
	margin-right: 2%;
}
@supports((-moz-column-gap: 20px) or (column-gap: 20px)) {
	.override #tvcoverage {
		display: -ms-grid;
		display: grid;
	}
	.override #tvcoverage section {
		display: -ms-grid;
		display: grid;
	}
}
.cssgrid #tvcoverage {
	display: -ms-grid;
	display: grid;
}
.cssgrid #tvcoverage section {
	display: -ms-grid;
	display: grid;
}
.no-cssgrid #tvcoverage {
	display: block;
}
no-cssgrid #tvcoverage section {
	display: block;
}
/* @media only screen and (max-width: 410px), (not(-ms-high-contrast: active)), (not (-ms-high-contrast: none)) {
  		article h3, article:first-child label {
  		line-height: 1;
  	}
  }
*/

@media screen and (max-width: 667px) {
	.no-js #presslinks section, .no-js #medley .override article:last-child section {
		margin: 0 0 0 2%;
		-webkit-box-flex: 5;
		-ms-flex: 5 0 1%;
		flex: 5 0 1%
	}
	#wrap .override #tvcoverage, #wrap .override #tvcoverage section {
		display: block;
	}
}
@media screen and (min-width: 668px) {
	.flexwrap #tvcoverage h3 {
		width: 100%;
	}
	@supports(column-gap: 20px) {
		.override #tvcoverage section iframe, .override #tvcoverage section video {
			width: 40vw;
			height: 22.5vw;
		}
	}
	.css-grid #tvcoverage section iframe, .css-grid #tvcoverage section video {
		width: 40vw;
		height: 22.5vw;
	}
}
@media only screen and (-ms-high-contrast: none) {
	/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
	#presslinks>img, article:last-child img {
		-webkit-box-flex: 1;
		-ms-flex: 2 1 5em;
		flex: 2 1 5em;
		-ms-flex-item-align: start;
		align-self: flex-start;
		float: none;
		height: 100%;
	}
}