@import "flex_mod.css";
main {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
.no-touchevents main {
	-moz-box-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.gallery li {
	-ms-flex-item-align: start;
	-webkit-align-self: flex-start;
	align-self: flex-start;
}
.gallery li, .alt .gallery li.portrait, .alt .gallery li:nth-child(n+5) {
	-webkit-box-flex: 3;
	-ms-flex: 3 1 22%;
	-webkit-flex: 3 1 22%;
	flex: 3 1 22%;
}
.gallery li:nth-child(n+5) {
	-webkit-box-flex: 2;
	-ms-flex: 2 1 14%;
	-webkit-flex: 2 1 14%;
	flex: 2 1 14%;
}
/*https://tobiasahlin.com/blog/flexbox-break-to-new-row/*/

main>a {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 1em;
	-webkit-flex: 1 0 1em;
	flex: 1 0 1em;
}
main ul {
	-webkit-box-flex: 16;
	-ms-flex: 16 1 auto;
	-webkit-flex: 16 1 auto;
	flex: 16 1 auto;
}
.showtime main.override {
	display: block;
}
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.flexwrap main ul.gallery {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	/*override % from float layout*/
	padding: 6px;
}
/*REPLACE margin with border to support earlier FIREFOX */

.flexwrap .override .gallery li {
	margin: 0;
	border: 6px solid white;
}
@supports (flex-wrap: wrap) {
	main ul.gallery {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		/*override % from float layout*/
		padding: 6px;
	}
	.override .gallery li {
		margin: 0;
		border: 6px solid white;
	}
}
@supports(column-gap: 20px) {
	main {
		padding: 0;
	}
	.gallery {
		display: grid;
		grid-gap: 1em;
		padding: 1em;
		grid-template-columns: repeat(12, 1fr);
	}
	.override .gallery li, .override .gallery li.portrait {
		width: 100%;
		margin: 0;
	}
	.gallery li:nth-child(-n+4) {
		grid-row: 1 / 3;
		grid-column: auto / span 3;
	}
	.gallery li:nth-child(n+5) {
		grid-row: 3 / 5;
		grid-column: auto / span 2;
	}
	.gallery li:nth-last-child(-n+4) {
		grid-row: 5 / 7;
		grid-column: auto / span 3;
	}
	.alt .gallery li:nth-child(n+5) {
		grid-column: auto / span 3;
	}
	.alt .gallery li:nth-child(n+9) {
		grid-row: 5 / 7;
		grid-column: auto / span 3;
	}
}
/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

/*  */

@media only screen and (max-width: 667px) {
	main {
		padding: 2em 0 0 0;
	}
	.gallery li, .alt .gallery li.portrait, .alt .gallery li:nth-child(n+5) {
		-webkit-box-flex: 3;
		-ms-flex: 3 1 40%;
		-webkit-flex: 3 1 40%;
		flex: 3 1 40%;
	}
	.gallery li:nth-child(n+5) {
		-webkit-box-flex: 2;
		-ms-flex: 2 1 25%;
		-webkit-flex: 2 1 25%;
		flex: 2 1 25%;
	}
	.override .gallery li:nth-child(n+11) {
		-webkit-box-flex: 3;
		-ms-flex: 3 1 40%;
		-webkit-flex: 3 1 40%;
		flex: 3 1 40%;
	}
	@supports (column-gap: 20px) {
		.override .gallery {
			display: grid;
			grid-gap: .75em;
			padding: .75em;
		}
		.gallery li:nth-child(-n+2) {
			grid-row: 1 / 2;
			grid-column: auto / span 6;
		}
		.gallery li:nth-child(n+3) {
			grid-row: 2 / 3;
			grid-column: auto / span 6;
		}
		.gallery li:nth-child(n+5) {
			grid-row: 3 / 4;
			grid-column: auto / span 4;
		}
		.alt .gallery li:nth-child(n+5) {
			grid-column: auto / span 6;
		}
		.gallery li:nth-child(n+8) {
			grid-row: 4 / 5;
			grid-column: auto / span 4;
		}
		.alt .gallery li:nth-child(n+7) {
			grid-row: 4 / 5;
			grid-column: auto / span 6;
		}
		.alt .gallery li:nth-child(n+9) {
			grid-row: 5 / 6;
			grid-column: auto / span 6;
		}
		.gallery li:nth-child(n+11) {
			grid-row: 5 / 6;
			grid-column: auto / span 6;
		}
		.alt .gallery li:nth-child(n+11) {
			grid-row: 6 / 7;
			grid-column: auto / span 6;
		}
		.gallery li:nth-child(n+13) {
			grid-row: 6 / 7;
			grid-column: auto / span 6;
		}
	}
	.touchevents .showtime main {
		padding: 3.5rem 2rem 0;
	}
	.touchevents.flexboxlegacy main>a, .touchevents.flexbox main>a, .touchevents.flexboxtweener main>a {
		margin: 0 1%;
	}
	.touchevents #exit {
		top: 1rem;
	}
    	.touchevents.flexbox main>a {
            margin: 0 1%;
		-webkit-box-flex: 1;
		-ms-flex: 1 0 2em;
		-webkit-flex: 1 0 2em;
		flex: 1 0 2em;
        -ms-flex-item-align: stretch;
		-webkit-align-self: stretch;
		align-self: stretch;
	}
	
	.touchevents #photos main>a {
		border-width: 0;
		background-color: hsla(349, 86%, 45%, 100);
        width: 2em;
		overflow: hidden;
        position: relative;
	}
	.touchevents main>a span {
		position: absolute;
		top: 33%;
		bottom: 33%;
		display: block;
		border: solid 1.1em rgb(240, 240, 245);
	}
	.touchevents #photos main>a:hover {
		background-color: hsla(349, 86%, 30%, 100);
	}
	.touchevents main>a:hover span {
		border: solid 1em rgb(230, 230, 235);
	}
}/*667*/



@media only screen and (max-width: 480px) {
    /*fix for ipod*/
    .touchevents.no-flexbox.flexboxlegacy main ul {
		width: auto;
	}
    .touchevents.no-flexbox.flexboxlegacy main {
		display: table;
		border-spacing: 9px;
	}
	.touchevents.no-flexbox.flexboxlegacy #gal_back, .no-flexbox.flexboxlegacy #gal_forward {
		display: table-cell;
		width: 2em;
	}

}

@media only screen and (max-width: 480px) and (orientation: portrait) {
	.touchevents.flexboxlegacy main>a, touchevents.flexbox main>a, .touchevents.flexboxtweener main>a {
		margin: 0 2%;
	}
	.touchevents .showtime main {
		padding: 3.5rem 1rem 0;
	}
}