@import "flex_mod.css";
@import "fullflex_mod.css";

    
/* https://stackoverflow.com/questions/43882869/margin-collapsing-in-flexbox */
@media screen and (max-width: 667px) {

    @supports(flex-wrap: wrap) {
        .js article:first-child section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        
        .js article:first-child section p{
            margin: .25em 0;
        }
        
        article section a {
            flex: 1 1 100%;
        }
        .override article:first-child img {
            flex: 1 1 1%;
            width: 48%;
            align-self: stretch;
        }
        .override article:first-child img:first-of-type {
            margin: 1em .5em 0 1em;
        }
        
         .override article:first-child img:last-of-type {
            margin: 1em 1em 0 .5em;
        }
         .override section p {
            flex: 1 1 100%;
             margin: 1em 0 0;
        }
          .override section p:last-child {
             margin: 1em 0;
        }
    }
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

	@supports((-moz-column-gap: 20px) or (column-gap: 20px)) {
        
		.js article:first-child section {
			display: -ms-grid;
			display: grid;
            -ms-grid-columns: .05fr 1fr .05fr 1fr .05fr;
            grid-template-columns: .05fr 1fr .05fr 1fr .05fr;
            grid-row-gap: 1em;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
		}
        
        .js .override article:first-child section a:first-child {
             grid-column: 1 / -1;
		}
      
        .js .override article:first-child section p {
            -ms-grid-column: 2;
            -ms-grid-column-span: 3;
            grid-column: 2 / 5;
            margin: 0;
            padding: 0;
		}
        .js .override article:first-child section p:last-of-type {
            padding: 0 0 1em 0;
		}
        .js .override article:first-child img {
            width: 100%;
            margin: 0;
            -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
                align-self: stretch;
		}
		.js .override article:first-child img:first-of-type {
            -ms-grid-row: 2;
            -ms-grid-row-span: 1;
            grid-row: 2/3;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-column: 2 / 3;
            
		}
		.js .override article:first-child img:last-of-type {
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			grid-row: 2/3;
            -ms-grid-column: 4;
            -ms-grid-column-span: 1;
            grid-column: 4 / 5;
		}
        
        .no-js article:first-child {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1 / 3;
		}
        
        .no-js article:first-child label {
            -ms-grid-column: 1;
            -ms-grid-column-span: 2;
            grid-column: 1 / 3;
            -ms-grid-row: 1;
            -ms-grid-row-span: 1;
            grid-row: 1/2;
		}
       
		.no-js .override article:first-child section {
			-ms-grid-column: 1;
			-ms-grid-column-span: 2;
			grid-column: 1 / 3;
			-ms-grid-row: 2;
			-ms-grid-row-span: 1;
			grid-row: 2/3;
            margin: 0;
		}

		.no-js article:first-child img:first-of-type {
			-ms-grid-row: 3;
			-ms-grid-row-span: 1;
			grid-row: 3/4;
			-ms-grid-column: 1;
			-ms-grid-column-span: 1;
			grid-column: 1 / 2;
            margin: 0 0 1em 0;
		}
		.no-js article:first-child img:last-of-type {
			-ms-grid-row: 3;
			-ms-grid-row-span: 1;
			grid-row: 3/4;
			-ms-grid-column: 2;
			-ms-grid-column-span: 1;
			grid-column: 2 / 3;
            -ms-grid-row-align: stretch;
                align-self: stretch;
            margin: 0 0 1em 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .no-flexwrap #polo article:first-child{
        display: block;
    }
    .no-flexwrap #polo .field {
        float: right;
        width: 50%;
        margin: 0em 1em 0;
    }
    
    .no-flexwrap #polo .field:last-of-type {
        margin: 1em 1em 0;
    }
}


/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@supports((-moz-column-gap: 20px) or (column-gap: 20px)) {
	article:first-child {
		display: -ms-grid;
		display: grid;
		grid-row-gap: 1em;
		grid-column-gap: 2em;
	}
	.override article:first-child img {
		width: 100%;
		margin: 0 2em 0 0em;
	}
	article:first-child>a {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / 3;
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1/2;
	}
	article:first-child section {
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
		grid-column: 1 / 2;
		-ms-grid-row: 1;
		-ms-grid-row-span: 5;
		grid-row: 1/6;
	}
	article:first-child img:first-of-type {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		grid-row: 1/2;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
    }
	article:first-child img:last-of-type {
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		grid-row: 3/4;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
		grid-column: 2 / 3;
	}
}
    