#wrap {
	position: relative;
	max-width: 65.2em;
	width: 65.2em;
	min-height: 100%;
}
main {
	position: relative;
	font: normal 1rem Arial, sans-serif;
	padding: 0;
	margin: 2em 0 0 0;
	text-align: right;
	height: 100%;
}

main img, main ul {
	border: 1px solid black;
}
main>a {
	border-top: 1.5vw solid transparent;
	border-bottom: 1.5vw solid transparent;
    position: relative;
    margin: 1px;
    
}

#gal_back {
	border-right: 3vw solid #444;
    float: left;
}
#gal_forward {
	border-right: 0px solid;
    border-left: 3vw solid transparent;
	border-left-color: #444;
    float: right;
}

main>a {
	border-top: .625em solid transparent;
	border-bottom: .625em solid transparent;
}
#gal_back {
	border-right: 1.25em solid #444;;
}
#gal_forward {
	border-left: 1.25em solid #444;
}
#gal_back:hover {
	border-right-color: silver;
}

#gal_forward:hover {
	border-left-color: silver;
}
/*main ul li, */

main img {
	width: 100%;
}
.showtime main {
	border-width: 0;
	position: relative;
	margin: 0;
	/*to accommodate exit button*/
	padding: 1em 0 0 0;
    display: block;/*force override flex ?*/
}

footer {
	margin: 0 auto;
}
.showtime footer {
	margin: -5em auto;
}
#exit {
	position: absolute;
	top: .75em;
	right: 0px;
    border: 0;
    width: 2em;
    height: 2em;
    display: block;
    background: url("../images/sticks_sprite.png") no-repeat;
    background-position: 50% 0%;
    background-size: 100%;
}

#exit:hover {
    background-position: 50% 106%;
}
main ul {
	width: 90.91%;
	text-align: center;
	margin: 0 auto;
	padding: 6px;
	/*https://stackoverflow.com/questions/1823551/what-is-this-ie-css-bug-called-double-vertical-padding*/
	*padding: 1.2em 1.2em .4em 1.2em;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
    overflow: hidden;
}
.showtime main ul {
	padding: 12px;
}
main ul.gallery {
	display: block;
	text-align: center;
	margin: 0 auto;
}
li#slide, li#paused, li#base {
	display: block;
	opacity: 1;
	*display: inline;
}
.no-js main ul li, .no-flexbox main ul li {
	width: 249px;
}
main ul li {
	margin: 6px;
	float: left;
	*display: inline;
}
main ul li {
	width: 225px;
	width: 183px;
}
main ul li.portrait {
	width: 146px;
	width: 118px;
}
main ul.gallery li:nth-child(5), main ul.gallery li:nth-child(11), main.alt ul.gallery li:nth-child(9) {
	clear: left;
}
main.alt ul.gallery li:nth-child(11) {
	clear: none;
}
main.alt ul.gallery li:nth-last-child(-n+2) {
	display: none;
}
.js .showtime main ul li {
	width: 100%;
	margin: 0;
}
.js main ul.portrait {
	width: 40%;
	width: 60vmin;
	margin: 0 auto;
}
main ul li, h2, .inplay main ul li.show, .showtime #wrap main>a, .no-js main>a {
	position: absolute;
	top: 0em;
	left: -99em;
}
main ul.gallery li, main ul li.show, .showtime li#base, .showtime li#slide, .showtime li#paused, #wrap #exit {
	position: relative;
	left: auto;
}
#wrap #exit {
    display: inline-block;
}

li#slide, li#paused {
	margin-left: -100%;
}
#controls, #controls button {
	display: inline;
	display: inline-block;
	zoom: 1;
}
#controls {
	clear: both;
	display: table;
	margin: 1em auto 0;
}
#controls button {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	margin: 0 .3em;
	display: table-cell;
	border: solid 1px;
}
#controls {
	position: relative;
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	top: 0em;
	z-index: 2;
	opacity: 0;
	border-spacing: .5em;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
    clear: left;
}
#controls.static {
	top: -3.5em;
	opacity: 1;
}
#controls button {
	cursor: pointer;
	background-color: #556B2F;
	border: 1px solid #7F9933;
	border: 1px solid hsla(75, 50%, 40%, 1);
	border-radius: .2em;
	line-height: 1.6;
	opacity: 1;
	background-image: url(../images/buttons_sprite_lowend8.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
}
#controls.static button {
	border: 1px solid #FFF;
	border: 1px solid rgba(255, 255, 255, .75);
}
#controls>button {
	background-image: url(../images/buttons_sprite_lowend.png);
	background-color: hsla(50, 50%, 40%, .3);
}
#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
#controls button#backbutton {
	background-position: 50% 14.7%;
}
#controls button#playbutton {
	background-position: 50% 29%;
}
#controls.playing button#playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
}
/*.touchevents replaces media queries (hover: hover) || (pointer: fine) where support is doubtful
logic dictates that we only get to this point courtesy of javascript so modernizr supplies the className .(no-)touchevents */

.touchevents .inplay #controls {
	top: 2.4em;
	opacity: 1;
}
.no-touchevents button#forwardbutton:hover {
	background-position: 50% 56%;
}
.no-touchevents button#backbutton:hover {
	background-position: 50% 70.5%;
}
.no-touchevents button#playbutton:hover {
	background-position: 50% 85%;
}
.no-touchevents.playing button#playbutton:hover {
	background-position: 50% 100%;
}
#tooltip {
	position: absolute;
	z-index: 3;
	bottom: 0em;
	font-weight: normal;
	font-size: .7em;
	opacity: 0;
	-webkit-transform: translate(-10em, -10em);
	-ms-transform: translate(-10em, -10em);
	transform: translate(-10em, -10em);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
#tooltip.tip {
	-webkit-transform: translate(10em, -3em);
	-ms-transform: translate(10em, -3em);
	transform: translate(10em, -3em);
	opacity: .75;
}
#tooltip.tb1 {
	-webkit-transform: translate(2em, -3em);
	-ms-transform: translate(2em, -3em);
	transform: translate(2em, -3em);
	opacity: 1;
}
#tooltip.tb2 {
	-webkit-transform: translate(2em, 10em);
	-ms-transform: translate(2em, 10em);
	transform: translate(2em, 10em);
	z-index: 5;
}
#tooltip div:first-child {
	background: #cc6;
	padding: 3px;
}
#tooltip #triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #cc6;
	margin: -1px 0px 0px 5em;
}
@media only screen {
	/*li.width/ul.width(-ul.padding)*/
	#wrap {
		max-width: 80em;
		width: 100%;
	}
	main ul.gallery {
		padding: .7%;
	}

	main ul.gallery li, main.alt ul.gallery li:nth-child(n+5), main.alt ul.gallery li.portrait {
		margin: .56%;
		width: 23.85%;
	}
	main ul.gallery li.portrait, main ul.gallery li:nth-child(n+5) {
		width: 15.52%;
	}
	main ul.gallery li:nth-last-child(-n+4) {
		width: 23.85%;
	}
	main ul li a {
		float: none;
	}
	.showtime #wrap main ul li {
		width: 100%;
	}
	#controls button {
		background-image: url(../images/buttons_sprite.png);
		background-color: hsla(75, 50%, 40%, .3);
		background-size: 128%;
	}

	button#exit:hover, button#exit:focus {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
    
    
    
}/*screen*/

@media screen and (max-width: 736px) {
    .no-cssvminunit main ul.portrait {
        width: 70%;
    }
    
         .flexboxlegacy #wrap main {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }
  .flexboxlegacy #wrap main > * {
        -webkit-box-flex: 1;
      margin: 0 .5%;
            -ms-flex: 1 1 2%;
                flex: 1 1 2%;
        -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch;
    }
    .flexboxlegacy #wrap main > a {
        border-width: 0;
        background: #444;
    }

    .flexboxlegacy #wrap main #gal_forward{
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3
    }
    .flexboxlegacy #wrap main ul {
        -webkit-box-flex: 20;
            -ms-flex: 20 1 10%;
                flex: 20 1 10%;
    }
}
@media only screen and (max-width: 600px) {
	footer {
		-webkit-transition: background-position 2s ease;
		-moz-transition: background-position 2s ease;
		-o-transition: background-position 2s ease;
		transition: background-position 2s ease;
	}
    
    .showtime main {
        display: block;
    }
    /*
    .js main>a {
	border-top: 2vw solid;
	border-bottom: 2vw solid;
	border-color: transparent;
    color: #444;
}
    */

    

	#controls {
		font-size: 1.3em;
	}
	#controls.static {
		top: -3.3em;
	}
	.touchevents .inplay #controls {
		top: .2em;
	}
	#wrap.inplay+footer {
		background: url(../images/sil_bg.png) no-repeat 60% top;
	}
	main ul.gallery {
		padding: 1vw;
		padding: 1%;
        width: calc(98% - 2px);
	}
	
	main ul.gallery li, main.alt ul.gallery li {
		margin: 1%;
		width: 244px;
		width: 40vw;
		width: 48%;
	}
    main ul.gallery li, main.alt ul.gallery li:nth-child(n+5), main.alt ul.gallery li.portrait {
		margin: 1%;
		width: 48%;
	}
    
	main ul.gallery li.portrait, main ul.gallery li:nth-child(n+5) {
		width: 161px;
		width: 26.2vw;
		width: 31.3%;
	}
	main ul.gallery li:nth-last-child(-n+4) {
		width: 48%;
	}
}

@media only screen and (max-width: 480px){
    


  .flexboxlegacy #wrap main > * {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 8%;
                flex: 1 1 8%;
    }
    
    
    .flexboxlegacy #wrap main ul.gallery {
                width: 60%;
        -webkit-box-flex: 2;
            -ms-flex: 2 1 8%;
                flex: 2 1 8%;
    }

}
/*
@media only screen and (max-width: 480px){
    
    main ul.gallery {
        width: 80%;
	}
    main>a:link {
   color: transparent; 
}
    main>a {
    border-top: 1em solid transparent;
	border-bottom: 1em solid transparent;
}

#gal_back {
	border-right: 2em solid #444;
}
#gal_forward {
    border-left: 2em solid #444;
}
}
*/

@media only screen and (max-width: 480px) and (orientation: portrait){
    
 .flexboxlegacy #wrap main ul.gallery {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 8%;
                flex: 1 1 8%;
    }
.no-flexboxlegacy main>a {
    border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
}

.no-flexboxlegacy #gal_back {
	border-right: 3em solid #444;
}
.no-flexboxlegacy #gal_forward {
    border-left: 3em solid #444;
}
}