#wrap {
	width: 832px;
	min-height: 100%;
}
main {
	position: relative;
	font: normal 1rem Arial, sans-serif;
	padding: 0;
	text-align: center;
	height: 100%;
}

main img, main ul {
	border: 1px solid black;
}
main img:hover {
	border-color: white;
}
main>a {
	border-top: 1vw solid transparent;
	border-bottom: 1vw solid transparent;
	position: relative;
	margin: 1px;
    vertical-align: middle;
    display: inline-block;
}
#gal_back {
	border-right: 2vw solid #444;
}
#gal_forward {
	border-right: 0px solid;
	border-left: 2vw solid transparent;
	border-left-color: #444;
}
main>a {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
#gal_back {
	border-right: 21px solid #444;
}
#gal_forward {
	border-left: 21px solid #444;
}

.no-touchevents #gal_back:hover {
	border-right-color: silver;
}
.no-touchevents #gal_forward:hover {
	border-left-color: silver;
}
/*main ul li, */

main img {
	width: 100%;
}
.showtime main {
	border-width: 0;
	position: relative;
	margin: 0;
	/*to accommodate exit button*/
	padding: 4em 0 0 0;
	display: block;
	/*force override flex ?*/
}
main ul {
	margin: 0;
	padding: 6px;
	/*https://stackoverflow.com/questions/1823551/what-is-this-ie-css-bug-called-double-vertical-padding
	*padding: 1.2em 1.2em .4em 1.2em;*/
	overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 92%;
}
main ul.gallery {
	margin: 0 auto;
	-webkit-transition: width 1s ease-in-out;
	-o-transition: width 1s ease-in-out;
	transition: width 1s ease-in-out;
}
.showtime main ul {
	padding: 12px;
}

li#slide, li#paused, li#base {
	display: block;
	opacity: 1;
}
.no-js main ul li, .no-flexbox main ul li {
	width: 249px;
}
main ul li {
	margin: 6px;
	float: left;
}
main ul.gallery li {
	width: 225px;
	width: 176px;
}
main ul.gallery li.portrait, main ul.gallery li:nth-child(n+5) {
	width: 146px;
	width: 113px;
}
main ul.gallery li:nth-last-child(-n+4) {
	width: 176px;
}
main ul.gallery li:nth-child(5), main ul.gallery li:nth-child(11), main.alt ul.gallery li:nth-child(9) {
	clear: left;
}
main.alt ul.gallery li:nth-child(11) {
	clear: none;
}
main.alt ul.gallery li:nth-last-child(-n+2) {
	display: none;
}
.js .showtime main ul li {
	width: 100%;
	margin: 0;
}
main ul.portrait {
	width: 36%;
	margin: 0 auto;
}
main ul li, .inplay main ul li.show, .showtime main>a, .no-js main>a {
	position: absolute;
	top: 0em;
	left: -9999px;
}
main ul.gallery li, main ul li.show, .showtime li#base, .showtime li#slide, .showtime li#paused, .js #exit {
	position: relative;
	left: auto;
}
h2 {
    background: none;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: none;
}
footer {
	margin: 0 auto;
}
.showtime footer {
	margin: -5em auto;
}
.js #exit {
	position: absolute;
	top: 1em;
	right: 1em;
	border: 0;
	width: 2em;
	height: 2em;
	display: block;
	background: transparent url("../images/sticks_sprite.png") no-repeat;
	background-position: 50% 0%;
	background-size: 100%;
	display: inline-block;
}
.js #exit {
	background-color: transparent;
}
.js #exit:hover {
	background-position: 50% 106%;
}
li#slide, li#paused {
	margin-left: -100%;
}
#controls, #controls button {
	display: inline-block;
}
#controls {
	clear: both;
	display: table;
	margin: 1em auto 0;
}
#controls button {
	width: 1.5em;
	height: 1.5em;
	padding: 0;
	margin: 0 .3em;
	display: table-cell;
	border: solid 1px;
}
#controls {
	top: 0em;
	position: relative;
	text-align: center;
	font-size: 1.5em;
	margin: 0 auto;
	z-index: 2;
	opacity: 0;
	border-spacing: .5em;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	clear: left;
}
.touchevents controls {
	opacity: 1;
}
#controls.static {
	top: -3.5em;
	opacity: 1;
}
#controls button {
	cursor: pointer;
	background-color: #556B2F;
	border: 1px solid #7F9933;
	border: 1px solid hsla(75, 50%, 40%, 1);
	border-radius: .2em;
	line-height: 1.6;
	opacity: 1;
	background-image: url(../images/buttons_sprite_lowend8.png);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	-webkit-box-shadow: 2px 2px 4px black;
	box-shadow: 2px 2px 4px black;
	text-shadow: 1px 1px 1px black;
}
#controls.static button {
	border: 1px solid #FFF;
	border: 1px solid rgba(255, 255, 255, .75);
}
#controls>button {
	background-image: url(../images/buttons_sprite_lowend.png);
	background-color: hsla(50, 50%, 40%, .3);
}
#controls button:hover, #controls button:focus {
	background-color: silver;
	background-color: rgba(150, 150, 150, .5);
	color: black;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .75);
}
#controls button#backbutton {
	background-position: 50% 14.7%;
}
#controls button#playbutton {
	background-position: 50% 29%;
}
#controls.playing button#playbutton {
	background-position: 50% 44%;
	opacity: 0.9;
}
/*.touchevents replaces media queries (hover: hover) || (pointer: fine) where support is doubtful
logic dictates that we only get to this point courtesy of javascript so modernizr supplies the className .(no-)touchevents */

.touchevents .inplay #controls {
	top: 0em;
	opacity: 1;
}
.no-touchevents button#forwardbutton:hover {
	background-position: 50% 56%;
}
.no-touchevents button#backbutton:hover {
	background-position: 50% 70.5%;
}
.no-touchevents button#playbutton:hover {
	background-position: 50% 85%;
}
.no-touchevents.playing button#playbutton:hover {
	background-position: 50% 100%;
}
#tooltip {
	position: absolute;
	z-index: 3;
	bottom: 0em;
	font-weight: normal;
	font-size: .7em;
	opacity: 0;
	-webkit-transform: translate(-10em, -10em);
	-ms-transform: translate(-10em, -10em);
	transform: translate(-10em, -10em);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: transform, opacity;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}
#tooltip.tip {
	-webkit-transform: translate(10em, -3em);
	-ms-transform: translate(10em, -3em);
	transform: translate(10em, -3em);
	opacity: .75;
}
#tooltip.tb1 {
	-webkit-transform: translate(2em, -3em);
	-ms-transform: translate(2em, -3em);
	transform: translate(2em, -3em);
	opacity: 1;
}
#tooltip.tb2 {
	-webkit-transform: translate(2em, 10em);
	-ms-transform: translate(2em, 10em);
	transform: translate(2em, 10em);
	z-index: 5;
}
#tooltip div:first-child {
	background: #cc6;
	padding: 3px;
}
#tooltip #triangle {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #cc6;
	margin: -1px 0px 0px 5em;
}
@media only screen {
	/*li.width/ul.width(-ul.padding)*/
	#wrap {
		max-width: 80em;
		width: 100%;
	}

	#wrap main ul.gallery {
		padding: .5%;
	}
	main ul.gallery li {
		margin: .5%;
	}
	main ul.gallery li, main.alt ul.gallery li:nth-child(n+5), main.alt ul.gallery li.portrait {
		width: 24%;
	}
	main ul.gallery li.portrait, main ul.gallery li:nth-child(n+5) {
		width: 15.66%;
	}
	main ul.gallery li:nth-last-child(-n+4) {
		width: 24%;
	}
    
	.showtime main ul li {
		width: 100%;
	}
	#controls button {
		background-image: url(../images/buttons_sprite.png);
		background-color: hsla(75, 50%, 40%, .3);
		background-size: 128%;
	}
	#exit:hover, #exit:focus {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: 667px) {
	.touchevents main ul.portrait {
		width: 70%;
	}
	.touchevents h2 {
		position: relative;
		left: auto;
	}
	.touchevents #wrap .showtime main {
		display: block;
	}
	/*
    .js main>a {
	border-top: 2vw solid;
	border-bottom: 2vw solid;
	border-color: transparent;
    color: #444;
}
    */
	.touchevents #controls {
		font-size: 1.3em;
	}
	.touchevents #controls.static {
		top: -3.3em;
	}
	.touchevents .inplay #controls {
		top: .2em;
	}
	.touchevents #wrap.inplay+footer {
		background: url(../images/sil_bg.png) no-repeat 60% top;
	}
	.touchevents main ul.gallery {
		padding: 1vw;
		padding: 1%;
	}
	.touchevents main ul.gallery li {
		margin: 1.3%;
	}
	.touchevents main ul.gallery li, .touchevents main.alt ul.gallery li {
		width: 244px;
		width: 40vw;
		width: 47.2%;
	}
	.touchevents main ul.gallery li, .touchevents main.alt ul.gallery li:nth-child(n+5), .touchevents main.alt ul.gallery li.portrait {
		width: 47.2%;
	}
	.touchevents main ul.gallery li.portrait, .touchevents main ul.gallery li:nth-child(n+5) {
		width: 161px;
		width: 26.2vw;
		width: 30.7%;
	}
	.touchevents main ul.gallery li:nth-last-child(-n+4) {
		width: 47.2%;
	}
	.touchevents footer {
		-webkit-transition: background-position 2s ease;
		-moz-transition: background-position 2s ease;
		-o-transition: background-position 2s ease;
		transition: background-position 2s ease;
	}
}
@media only screen and (max-width: 480px) {
	.touchevents main ul.gallery {
		width: 76%;
	}
	.touchevents main>a:link {
		color: transparent;
	}
	.touchevents main>a {
		border-top: 1em solid transparent;
		border-bottom: 1em solid transparent;
	}
	.touchevents #gal_back {
		border-right: 2em solid #444;
	}
	.touchevents #gal_forward {
		border-left: 2em solid #444;
	}
}