        article:nth-child(5) img {
        	flex: 1 1 10em;
        	box-shadow: none;
        }
        article:nth-child(5) section {
        	flex: 12 20 20em;
        }
        .override article:nth-child(5) img {
        	width: 20%;
        }
        h2 span {
        	background: white 0% 0% url(../images/sub_place.jpg) no-repeat;
        }
        @media screen {
        	h2 span {
        		background: white 0% 0%/contain url(../images/sub_place.png) no-repeat;
        	}
        }
        @media screen and (max-width: 667px) {
            h2, h2 span {
        		background: none;
        	}
        	.override article:nth-child(5) {
        		display: block;
        	}
        	.override article:nth-child(5) img {
        		width: auto;
        		margin: 1em 0 0 1em;
        		/* floats are explicitly disabled in "mobile layout", so re-apply where reqd"*/
        		float: right;
        	}
        	.no-js article:nth-child(1) .read-more-trigger:before {
        		content: "The setting";
        	}
        	.no-js article:nth-child(2) .read-more-trigger:before {
        		content: "Farm life";
        	}
        	.no-js article:nth-child(3) .read-more-trigger:before {
        		content: "Climate";
        	}
        	.no-js article:nth-child(4) .read-more-trigger:before {
        		content: "Connectivity";
        	}
        	.no-js article:nth-child(5) .read-more-trigger:before {
        		content: "Location";
        	}
        	.override article:nth-child(5) section img {
        		float: right;
        		width: 30%;
        		margin: 1em 1em 0
        	}
        }
        @media screen and (max-width: 370px) {
        	.override article:nth-child(5) section img {
        		width: 37%;
        	}
        	article:nth-child(5) section p:first-of-type {
        		text-align: left;
        	}
        }