h2 span {
	background: white 0% 0% url(../images/resource/sub_polo.jpg) no-repeat;
}

/* NO FLEX PLEASE WE'RE BRITISH*/
.override .multi {
    display: block;
        }
 
.multi img {
    clear: both;
    width: 30%;
    float: right;
	margin: 1em 0 1em 1em;
}

@media only screen {
	h2 span {
		background: white 0% 0% url(../images/resource/sub_polo.png) no-repeat;
        background-size: contain;
	}
}

@media screen and (max-width: 888px) {
    .multi img {
    width: 40%;
}
}

@media screen and (max-width: 667px) {
	.no-js section:first-child .read-more-trigger:before {
		content: "Facilities";
	}
	.no-js section:nth-child(2) .read-more-trigger:before {
		content: "Ponies";
	}
	.no-js section:nth-child(3) .read-more-trigger:before {
		content: "Our team";
	}
	.no-js section:nth-child(4) .read-more-trigger:before {
		content: "Your polo day";
	}
    /*
    	.override section:first-child {
		flex-direction: column;
	}
	.js .override section.show img {
		position: static;
		left: 0;
	}
    */

	h2, h2 span {
		background: none;
	}
}