h2 span {
	background: white 0% 0% url(../images/sub_polo.jpg) no-repeat;
}

/* NO FLEX PLEASE WE'RE BRITISH*/
.override article:first-child {
    display: block;
        }
 
article:first-child img {
	clear: both;
    width: 30%;
	margin: 1em 0 1m 0;
}

@media only screen {
	h2 span {
		background: white 0% 0% url(../images/sub_polo.png) no-repeat;
        background-size: contain;
	}
}

@media screen and (max-width: 888px) {
    article:first-child img {
    width: 40%;
}
}

@media screen and (max-width: 667px) {
	.no-js article:first-child .read-more-trigger:before {
		content: "Facilities";
	}
	.no-js article:nth-child(2) .read-more-trigger:before {
		content: "Ponies";
	}
	.no-js article:nth-child(3) .read-more-trigger:before {
		content: "Our team";
	}
	.no-js article:nth-child(4) .read-more-trigger:before {
		content: "Your polo day";
	}
    /*
    	.override article:first-child {
		flex-direction: column;
	}
	.js .override article.show img {
		position: static;
		left: 0;
	}
    */

	h2, h2 span {
		background: none;
	}
}