h2, h2 span, footer{
background: none;
	}

header, article input, article label, footer img, #footer_girl a:first-child, img#ani, #contactarea, iframe, video, #polo article:first-child img:last-of-type {
    display: none;
}


h2 span, h3 {
    color: indigo;
    text-transform: uppercase;
    text-decoration: none;
    border-width: 0;
}
h2 {
    margin: 0;
}
h2 span {
    padding: 0 0 0 0em;
}

article {
    display: block;
}

article p {
    text-align: justify;
    font-size: 10pt;
    color: black;
}

#wrap article a {
    text-decoration: none;
    color: #444;
}

article img {
    width: 20%;
    float: right;
    text-shadow: none;
}

article section {
    margin-right: 23%;
}

#wrap footer {
    margin: 0;
    padding: 0;
    display: block;
    border: solid 1px red;
}

#wrap .override footer a:link {
    display: block;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#wrap footer > a:last-child {
    text-align: left;
}


