        @media screen and (max-width: 667px) {
        	.no-js article:nth-child(1) .read-more-trigger:before {
        		content: "Timing";
        	}
        	.no-js article:nth-child(2) .read-more-trigger:before {
        		content: "Living";
        	}
        	.no-js article:nth-child(3) .read-more-trigger:before {
        		content: "Relaxing";
        	}
        	.no-js article:nth-child(4) .read-more-trigger:before {
        		content: "Dining";
        	}
        	.no-js article:nth-child(5) .read-more-trigger:before {
        		content: "Day visiting";
        	}
        }
        @media screen and (min-width: 668px) {
        	h2 {
        		background: 0% 0%/contain url(../images/sub-your-stay.png) no-repeat;
        	}
        }