@import "flex_mod.css";
@import "fullflex_mod.css";
 h2 span {
 	background: white 0% 50% url(../images/resource/sub_trust.jpg) no-repeat;
 }
 @media only screen {
 	.backgroundsize h2 span {
 		background-image: url(../images/resource/sub_trust.png);
 	}
 }

/*assume support for flex-wrap indicates support for backgroundsize to accommodate no-js scenario*/
@supports(flex-wrap: wrap) or (-webkit-flex-wrap: wrap) or (-ms-flex-wrap: wrap){
    h2 span {
		background-image: url(../images/resource/sub_trust.png);
    }
}

@media screen and (max-width: 1024px) {
section.ptrt img {
	-webkit-box-flex: 2;
	-ms-flex: 2 1 %;
	-webkit-flex: 2 1 1%;
	flex: 2 1 1%;
    width: auto;
}
}

 @media screen and (max-width: 667px) {
     h2, h2 span {
 		background: none;
 	}
 	.no-js section:nth-child(1) .read-more-trigger:before {
 		content: "History";
 	}
 	.no-js section:nth-child(2) .read-more-trigger:before {
 		content: "Transformation";
 	}
 	.no-js section:nth-child(3) .read-more-trigger:before {
 		content: "Development";
 	}
 	.no-js section:nth-child(4) .read-more-trigger:before {
 		content: "Economic impact";
 	}
 	.no-js section:nth-child(5) .read-more-trigger:before {
 		content: "Social change";
 	}
 	
}